<!DOCTYPE html>

<html lang="uk">

<head>

  <meta charset="utf-8">
  <title>Мультиплікативна сила масок</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Інтерактивне есе про те, як маски можуть зупинити COVID-19">
  <meta name="author" content="Aatish Bhatia">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&family=Raleway:wght@200;300;400;700&display=swap" rel="stylesheet"> 

  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Чому маски працюють краще, ніж ви думаєте: інтерактивне есе">
  <meta name="twitter:description" content="Навіть частково ефективні маски можуть зупинити поширення COVID-19, за умови що їх носить достатня кількість людей.">
  <meta name="twitter:site" content="@aatishb">
  <!-- Twitter Summary card images must be at least 120x120px -->
  <meta name="twitter:image" content="https://aatishb.com/maskmath/assets/twitter-banner.png">
  
  <!-- Open Graph data -->
  <meta property="og:title" content="Чому маски працюють краще, ніж ви думаєте: інтерактивне есе" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://aatishb.com/maskmath/" />
  <meta property="og:image" content="https://aatishb.com/maskmath/assets/twitter-banner.png" />
  <meta property="og:description" content="Навіть частково ефективні маски можуть зупинити поширення COVID-19, за умови що їх носить достатня кількість людей." />

</head>

<body>
<div id="root" class="page">

  <div class="header">
    <p5 src="js/sketch0.js"></p5>
    <div class="overlay">
      <div>
        <h1>Мультиплікативна сила масок</h1>
        <h3>Інтерактивне есе про те, як маски можуть зупинити COVID-19</h3>
        <h4>За авторства <a href="https://aatishb.com/">Aatish Bhatia</a> ⨉ <a href="https://www.youtube.com/user/minutephysics">Minute Physics</a></h4>
        <translation :list="translations"></translation>
      </div>
    </div>
  </div>

  <div class="container">

    <p>
      Зараз <a href="https://www.preprints.org/manuscript/202004.0203/v1">нам</a> <a href="https://link.springer.com/article/10.1007/s11606-020-06067-8">відомо</a>, <a href="https://science.sciencemag.org/content/368/6498/1422">що</a> маски мають значний вплив на сповільнення поширення COVID-19.
      Разом з тим, багато людей опираються носінню масок, оскільки вважають це особистим вибором, а не проблемою здоровʼя суспільства в цілому.
    </p>

    <p>
      Таке ставлення досить недалекоглядне, оскільки <a href="https://link.springer.com/article/10.1007/s11606-020-06067-8">маска захищає як того, хто її носить <i>так і</i> людей довкола</a>.
      Цей <a href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5ea3b5859bc8f31a11f3deb5/1587787141808/2020-04-24_N95DECON_Face_Mask_Technical_Report_v1_final.pdf">двосторонній захист</a> робить повсюдне використання масок потужним способом зупинити епідемію.
    </p>

    <network :maskusage="0.6"></network>

    <p>
      За допомогою математики, ми побачимо як 60% людей, вдягнутих в маски з 60% ефективністю, можуть знизити передачу захворювання на 60% — чого, згрубша, достатньо, щоб зупинити поширення  COVID-19.
    </p>      

    <aside>
      <div class="center">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Y47t9qLc9I4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <span style="margin-top: 0.75rem;">
          Дивіться супровідне відео: <a href="https://www.youtube.com/watch?v=Y47t9qLc9I4">Чому маски працюють краще, ніж може здаватися</a>
        </span>
      </div>
    </aside>

    <h2>Говоріть тихше, вас і так добре чути</h2>

    <p>
      Але спершу, ознайоммось з масштабами певних чисел.
      Коли людина видихає, вона з видихом <a href="https://www.youtube.com/watch?v=f57LXUbrtPU">розпилює різноманітні дрібні часточки слини</a>.
      Якщо вона заразна, оцей «ротовий дезодорант» заряджений вірусними часточками.
      Саме цей <a href="https://arxiv.org/pdf/2005.10988.pdf">вірусний аерозоль зі слини</a> є основним способом поширення COVID-19.
    </p>

    <p>Коли заразна людина дихає, вона розпилює приблизно <b>тисячу</b> вірусних часточок кожну хвилину.</p>

    <p>Коли вона говорить, вона розпилює приблизно <b>десять тисяч</b> вірусних часточок кожну хвилину.</p>

    <p>Коли вона кашляє, вона розпилює приблизно <b>сто тисяч</b> вірусних часточок.</p>

    <p>І коли вона пчихає, вона розпилює приблизно <b>мільйон</b> вірусних часточок.</p>

    <p>
      Чим більше вірусних часточок потрапляє від людини до людини, то вища ймовірність зараження.
      (І, у випадку зараження, люди, які отримали більшу дозу, зазвичай демонструють <a href="https://www.nytimes.com/2020/05/29/health/coronavirus-transmission-dose.html">важчі симптоми</a>.)
    </p>

  </div>

  <anim-with-caption :mask1="false" :mask2="false" contagiousperson="Заразна Людина" susceptibleperson="Сприйнятлива Людина"><span class="red">Шлях передачі 1:</span> Коли заразна людина знаходиться поряд зі сприйнятливою, їхній «ротовий дезодорант» може переносити захворювання.</anim-with-caption>

  <div class="container">

    <p>Маски зменшують кількість аерозолю, який переноситься від людини до людини, блокуючи або змінюючи його напрям. Як наслідок, зменшується ймовірність зараження.</p>

    <p>
      Варто памʼятати, що не існує ідеальних масок.
      Навіть маски N95, які рекомендовані до носіння працівникам охорони здоровʼя, гарантовано блокують тільки <a href="https://www.youtube.com/watch?v=eAdanPfQdCA">95% найдрібніших часток</a> (і це тільки у випадку, якщо <a href="https://www.n95decon.org/publications">носити їх правильно</a>).
    </p>

    <p>
      Маски не гарантують безпеки, але вони зменшують ризик.
      Це схоже на те, як парасолька не гарантує того, що ви залишитесь сухими. Вона швидше зменшує ваші шанси намокнути.
      Подібно парасолькам, маски працюють тільки тоді, якщо ви використовуєте їх правильно.
      Але, на відміну від парасольок, які захищають тільки тих хто їх носить, маски також захищають людей <i>довкола</i>.
    </p>

    <p>
    </p>

    <h2>Чому маски захищають нас двічі</h2>

    <p>
      Уявімо, що заразна людина носить маску з 50-відсотковою ефективністю.
      Під «50-відсотковою ефективністю», я маю на увазі, що ця маска зменшує навпіл шанс того, що власник маски заразить сприйнятливу людину поряд.
    </p>

  </div>

  <anim-with-caption :mask1="true" :mask2="false" :eout="0.5" contagiousperson="Заразна Людина" susceptibleperson="Сприйнятлива Людина"><span class="orange">Шлях передачі 2:</span> Коли заразна людина носить маску з 50% ефективністю, поширення захворювання зменшується на 50%.</anim-with-caption>

  <div class="container">

    <p>А що, якщо маска буде на сприйнятливій людині?</p>

    <p>
      В загальному, ефективність маски на <b>вдих</b> та на <b>видих</b> відрізняється.
      Але для простоти, припустімо, що ця ефективність однакова в обох напрямах.
    </p>

    <p>В такому випадку, шанс на інфікування цим шляхом теж зменшується на 50%.</p>

  </div>

  <anim-with-caption :mask1="false" :mask2="true" :ein="0.5" contagiousperson="Заразна Людина" susceptibleperson="Сприйнятлива Людина"><span class="orange">Шлях передачі 3:</span> Коли сприйнятлива людина носить маску з 50% ефективністю, поширення захворювання зменшується на 50%.</anim-with-caption>
  
  <div class="container">

    <p>А що, коли <i>й</i> заразна, <i>і</i> сприйнятлива особа, мають маски?</p> 

    <p>
      У такому випадку, перша маска зменшує шанс зараження навпіл, і друга маска зменшує шанс зараження теж навпіл.
      Отже, якщо <i>обоє</i> носять маски, ймовірність зараження становить половину від половини, або 25% (від імовірності зараження без масок взагалі).
      Це 75% зменшення ризику інфікування.
    </p>

  </div>

  <anim-with-caption :mask1="true" :mask2="true" :eout="0.5" :ein="0.5" contagiousperson="Заразна Людина" susceptibleperson="Сприйнятлива Людина"><span class="yellow">Шлях передачі 4:</span> Коли обоє носять маску з 50% ефективністю, поширення захворювання зменшується на 75%.</anim-with-caption>
  
  <div class="container">

    <p>
      Якщо подумати, то дивовижно, що маска з 50% ефективності може зменшити ризик зараження на 75%.
      Це можливо, бо коли обоє людей носять маски, шанс зараження зменшується навпіл двічі.
      Цей <b>подвійний захист</b> робить маски набагато ефективнішими, ніж ми інтуїтивно очікуємо.
    </p>

    <p>Отож, тут наведено всі чотири шляхи, якими повітряна інфекція може передатись від людини до людини.</p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row big-small">

        <div class="column onehundredpx">
          <div class="center">Шлях передачі хвороби</div>
          <anim :mask1="false" :mask2="false"></anim>
          <anim :mask1="true" :mask2="false" :eout="0.5"></anim>
          <anim :mask1="false" :mask2="true" :ein="0.5"></anim>
          <anim :mask1="true" :mask2="true" :eout="0.5" :ein="0.5"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Спад поширення</div>
          <div class="center"><span class="red">0%</span></div>
          <div class="center"><span class="orange">50%</span></div>
          <div class="center"><span class="orange">50%</span></div>
          <div class="center"><span class="yellow">75%</span></div>
        </div>

      </div>

      <div class="caption">
        Чотири шляхи, якими COVID-19 може передаватись від людини до людини. Припускається 50% ефективність маски.
      </div>

    </div>

  </div>

  <div class="container">

    <h2>Від людини до людства</h2>

    <p>
      Досі ми розглядали тільки передачу захворювання між двома людьми.
      Як перейти від цього, до розуміння передачі захворювання в <i>усій популяції</i>?
    </p> 

    <p>В крайніх випадках, це просто.</p> 

    <p>
      Наприклад, якщо <b>ніхто</b> не носить маски, якщо двоє людей зустрічаються, ймовірність того, що <span class="red">жоден не носить маски</span> становить 100%.
    </p>

    <network :maskusage="0"></network>

    <p>
      Отож, нам потрібно брати до уваги тільки <span class="red">перший шлях</span> передачі захворювання, і у популяції, вочевидь, <span class="red">не буде спостерігатись спад</span> поширення захворювання.
    </p>

    <p>
      Інша крайність, це якщо <b>всі</b> носять маски. Тоді при зустрічі двох людей, ймовірність того, що <span class="yellow">обоє носять маску</span> становить 100%.
    </p>

    <network :maskusage="1"></network>

    <p>
      У цьому випадку, достатньо брати до уваги тільки <span class="yellow">останній шлях</span> передачі хвороби.
      Припускаючи маску з 50% ефективністю в обох напрямах, у популяції буде спостерігатись <span class="yellow">75% спад</span> поширення хвороби.
    </p>

    <p>
      Отож коли <i>всі</i> носять маски (або ж коли їх не носить <i>ніхто</i>), розрахунок спаду поширення захворювання у популяції цілком тривіальний, оскільки залучений тільки один шлях поширення.
    </p>

    <p>
      Але у реальності дехто носить маски, а дехто — ні.
      Як наслідок, вірус буде поширюватись усіма чотирма шляхами.
      Ймовірність кожного з них буде залежати від того, яка кількість людей носить маски.
    </p>

    <label class="row half bigsplash">
      <div>Використання масок: <span class="dotted">{{convertToPercent(pnetwork)}}</span>%</div>
      <slider v-model="pnetwork" :min="0" :max="1" :step="0.01"></slider>
    </label>

    <network :maskusage="pnetwork"></network>

    <p>
      Наприклад, <b>якщо 50% людей носять маски</b>, при зустрічі двох випадкових людей ймовірність того, що <span class="yellow">обоє носять маски</span> становитиме 50% ⨉ 50%, тобто 25%.
      Аналогічно, ми можемо визначити ймовірності для трьох інших шляхів передачі хвороби.
    </p>

    <p>
      Якщо рівно половина населення носить маски, виявляється, що ймовірності усіх шляхів рівні.
      (Чи зможете ви переконатись в тому, що це так?)
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row big-small-small">

        <div class="column onehundredpx">
          <div class="center">Шляхи передачі захворювання</div>
          <anim :mask1="false" :mask2="false"></anim>
          <anim :mask1="true" :mask2="false" :eout="0.5"></anim>
          <anim :mask1="false" :mask2="true" :ein="0.5"></anim>
          <anim :mask1="true" :mask2="true" :eout="0.5" :ein="0.5"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Спад поширення</div>
          <div class="center"><span class="red">0%</span></div>
          <div class="center"><span class="orange">50%</span></div>
          <div class="center"><span class="orange">50%</span></div>
          <div class="center"><span class="yellow">75%</span></div>
        </div>

        <div class="column onehundredpx">
          <div class="center">Ймовірність цього шляху</div>
          <div class="center">25%</div>
          <div class="center">25%</div>
          <div class="center">25%</div>
          <div class="center">25%</div>
        </div>

      </div>

      <div class="caption">
        Чотири шляхи, як COVID-19 може передаватись від людини до людини, за припущення, що 50% людей носять маски з 50% ефективності.
      </div>

    </div>
  </div>
  
  <div class="container">

    <p>
      Тепер ми можемо розрахувати <b>середній спад у передачі захворювання у популяції</b>.
      Оскільки ми визначили, що всі шляхи рівноймовірні, для цього достатньо знайти середнє між <span class="red">0%</span>, <span class="orange">50%</span>, <span class="orange">50%</span> та <span class="yellow">75%</span>, яке становить 43.75%.
    </p>

    <p>
      Люди, що <i>не носять</i> маски, заражаються першими двома шляхами, які рівноймовірні, — якщо половина популяції носить маски.
      Отож спад передачі тим, хто не носить маски, становить середнє між <span class="red">0%</span> та <span class="orange">50%</span>, тобто 25%.
    </p>

    <p>
      Разом з тим, люди, що <i>носять</i> маска, заражаються останніми двома шляхами.
      Тому спад в передачі захворюваності носіям масок є середнім між <span class="orange">50%</span> та <span class="yellow">75%</span>, що становить 62.5%.
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">
      <div class="column">
        <div class="splash">Середній спад в передачі хвороби = <span style="font-size: 2rem;"><b>43.75</b></span>%</div>
        <div class="splash">Спад в передачі тим, хто <b>не носить маски</b> = 25%</div>
        <div class="splash">Спад в передачі тим, хто <b>носить маски</b> = 62.5%</div>
      </div>
      <div class="caption">
        (За припущення, що 50% людей носять маски з 50% ефективністю.)
      </div>
    </div>
  </div>
  
  <div class="container">

    <p>
      Отже, навіть ті, що не носять масок, отримують певний захист, оскільки повітря, яке вони вдихають, є часто відфільтроване масками <i>інших людей</i>.
      Але ті, що носять маски, завдяки додатковому захисту власних масок виграють набагато більше.
    </p>

    <p>І, оскільки популяція складається як з тих, що носять маски, так і з тих, що не носять, середній виграш знаходиться між виграшами цих двох груп.</p>

    <p>Отже, в цьому спрощеному випадку (коли 50% людей носять маски з 50% ефективністю), ми знайшли спосіб як перейти від <b><i>особистого</i> виграшу</b> до <b>середнього виграшу, який маски дають <i>популяції</i>.</b></p>

    <h2>Маскологія</h2>

    <p>
      <a href="https://github.com/aatishb/maskmath/blob/master/model/mathmodel.ipynb">Застосуймо цю логіку</a> до <i>довільних значень</i> <b>використання масок</b> та <b>їх ефективності</b>.
      Змінюйте положення повзунків нижче, щоб побачити, як маски впливають на поширення хвороби.
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <label class="row half bigsplash">
        <div>Використання масок: <span class="dotted">{{convertToPercent(p)}}</span>%</div>
        <slider v-model="p" :min="0" :max="1" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Ефективність масок на видиху: <span class="dotted">{{convertToPercent(eout)}}</span>%</div>
        <slider v-model="eout" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Ефективність масок на вдиху: <span class="dotted">{{convertToPercent(ein)}}</span>%</div>
        <slider v-model="ein" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <div class="row big-small-small padabove">

        <div class="column onehundredpx">
          <div class="center">Шлях передачі захворювання</div>
          <anim :mask1="false" :mask2="false"></anim>
          <anim :mask1="true" :mask2="false" :eout="eout"></anim>
          <anim :mask1="false" :mask2="true" :ein="ein"></anim>
          <anim :mask1="true" :mask2="true" :eout="eout" :ein="ein"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Спад в передачі хвороби</div>
          <div class="center"><span><span class="dotted">{{convertToPercent(d1)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(d2)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(d3)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(d4)}}</span>%</span></div>
        </div>

        <div class="column onehundredpx">
          <div class="center">Ймовірність цього шляху</div>
          <div class="center"><span><span class="dotted">{{convertToPercent(l1)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(l2)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(l3)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(l4)}}</span>%</span></div>
        </div>

      </div>


      <div class="row half bigsplash">
        <span>Середній спад в передачі захворювання: <span class="dotted" style="font-size: 2rem;"><b>{{convertToPercent(1 - (1 - ein * p) * (1 - eout * p))}}</b></span>%</span>
      </div>

      <div class="row half bigsplash">
        <span>Спад в передачі людям без масок: <span class="dotted">{{convertToPercent(eout * p)}}</span>%</span>
      </div>

      <div class="row half bigsplash">
        <span>Спад в передачі людям в масках: <span class="dotted">{{convertToPercent(1 - (1 - eout * p) * (1 - ein))}}</span>%</span>
      </div>

    </div>
  </div>
  
  <div class="container">

    <p>
      Що станеться з поширенням хвороби, якщо 60% людей буде носити маски з 60% ефективності?
      Або 90% буде носити маски з 50% ефективності?
      Або 50% буде носити маски з 90% ефективності?
      Інтерактив дозволяє вам відповісти на ці запитання.
    </p>

    <p>Висновок: <b>Коли більше людей носять маски, всім безпечніше.</b></p>

    <p>
      Маски захищають тих, хто їх носить, безпосередньо фільтруючи те, що вони вдихають.
      А також, фільтруючи або перенаправляючи видих, маски надають вторинний захист <i>усім</i> — включно з тими, хто не носить маски.
    </p>

    <aside>
      <span @click="expandaside1 = true;">Що стосовно тих масок, які не фільтрують видихуване повітря? 
        <span v-if="!expandaside1"> (Клацніть, щоб розкрити)</span>
      </span>

      <span v-if="expandaside1">
        Деякі N95 маски мають <a href="https://www.healthline.com/health-news/certain-type-n95-mask-harm-covid19-spread">клапани або отвори</a>, які випускають повітря без фільтрування.
        CDC (Центри з контролю та профілактики захворювань у США) <a href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/respirator-use-faq.html">не рекомендують</a> носити такі маски у закладах охорони здоровʼя, оскільки вони ставлять під загрозу життя інших людей.
        Ви можете побачити це особисто за допомогою інтерактиву вище.
        <br><br>
        Спершу, виставте ефективність масок на вдих і на видих на високі значення (і використання десь посередині).
        Це репрезентує високу ефективність масок подібних N95.
        А тоді посуньте ефективність на видиху до нуля, і спостерігайте, як зростає поширення, особливо серед тих, хто не носить маски.
        <br><br>
        Якщо у вас уже є такі маски, CDC радить <a href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/respirator-use-faq.html">закривати клапани для видиху</a> хірургічною маскою.
      </span>
    </aside>


    <p>
      Насправді маски навіть ефективніші, ніж оці числа кажуть.
    </p>

    <h2>Як зупинити епідемію</h2>

    <p>
      Для того, щоб загасити вогонь, потрібно забрати у нього кисень.
      Але немає потреби забирати весь кисень, достатньо зменшити його доступ настільки, щоб вогонь перестав збільшуватись.
      Так само і з епідемією — немає потреби зменшувати передачу на 100%. 
      Якщо ми зменшимо її рівно настільки, щоб кількість хворих перестала рости, ми загасимо епідемію.
    </p>

    <p>
      Ви напевне чули про епідеміологічний термін R₀, читається ер-нуль.
      Це <a href="https://uk.wikipedia.org/wiki/Базове_репродукційне_число">число людей, яких може інфікувати заразна людина</a> у популяції без попереднього імунітету до хвороби.
    </p> 

    <p>Коли R₀ більше ніж 1, захворювання буде рости експоненційно, аж допоки достатньо людей не вакцинується, чи допоки люди не перехворіють і не вироблять імунітет.</p>

    <p>
      Але, як Ed Young пише в Atlantic, <a href="https://www.theatlantic.com/science/archive/2020/01/how-fast-and-far-will-new-coronavirus-spread/605632/">«R₀ не є долею»</a>.
      R₀ є добутком двох чисел: середнього числа людей, з якими контактує заразна людина, і ймовірності зараження під час контакту.
    </p>

  </div>

  <div class="graphic">
      <div class="splash">R₀ = <span class="dashed">середнє число людей, з якими контактує заразна людина</span> <br>⨉ <span class="dotted">ймовірність зараження під час контакту</span></div>
  </div>
  
  <div class="container">

    <p>
      Соціальна дистанція, карантини та обмеження зменшують <span class="dashed">перший множник</span>.
      А маски зменшують <span class="dotted">другий множник</span>.
      Мета усіх цих стратегій охорони здоровʼя полягає у контролі епідемії за допомогою зменшення R₀ до значень менше ніж 1.
    </p>

    <p>
      Маючи це на увазі, переформулюймо вплив масок у термінах R₀.
      Графік нижче показує, як змінюється R₀ при збільшенні використання масок.
    </p>

    <p>
      Ви можете використати перший повзунок, щоб змінювати R₀. Для COVID-19 він знаходиться між 2 і 3 (це за відсутності інших заходів охорони здоровʼя, як то соціального дистанціювання, яке зменшує R₀ ще більше.)
      Змінюючи ефективність масок, ви можете побачити, як маски можуть дозволити зупинити епідемію.
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <label class="row half bigsplash">
        <div>R₀: <span class="dotted">{{R0}}</span></div>
        <slider v-model="R0" :min="1" :max="3" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Ефективність масок на видиху: <span class="dotted">{{convertToPercent(eout)}}</span>%</div>
        <slider v-model="eout" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Ефективність масок на вдиху: <span class="dotted">{{convertToPercent(ein)}}</span>%</div>
        <slider v-model="ein" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <graph :traces="graph2Traces" :layout="graph2Layout(
        'Як маски зменшують R₀',
        'Доля людей, що носять маски',
        'Число людей, яких інфікує заражена людина (R₀)',
        'Епідемія спадає',
        'Епідемія росте'
      )" :config="config"></graph>

    </div>
  </div>

  <div class="container">

    <p>
      Щоб зупинити поширення COVID-19, необхідно тримати R₀ нижче 1.
      Коли це станеться, заразна людина у середньому буде інфікувати менше однієї людини, і епідемія закінчиться.
    </p>

    <p>
      То скільки людей повинно носити маску з 50% ефективністю, щоб зупинити COVID-19?
      А що якби маски були ефективними на 75%?
      А на 90%?
      Інтерактив дозволяє вам передбачити відповіді на ці запитання.
    </p>

    <aside>

      <span @click="expandaside2 = true;">Важливе зауваження: люди взаємодіють не випадково. 
        <span v-if="!expandaside2"> (Клацніть, щоб розгорнути)</span>
      </span>
      
      <span v-if="expandaside2">
        Люди, що носять маски, з більшою ймовірністю будуть взаємодіяти з іншими людьми в масках, і, навпаки, з меншою ймовірністю з людьми без масок.
        <br/><br/>
        Аналогічно, люди без масок можуть жити у групах, де носіння масок нижче за середнє.
        Ця тенденція взаємодіяти з людьми зі схожими преференціями <a href="https://www.sciencedirect.com/science/article/pii/S2468042720300191">зменшує захисну здатність масок</a>, оскільки <a href="https://github.com/aatishb/maskmath/blob/master/model/mathmodel.ipynb">люди, що не носять масок, мають меншу ймовірність скористати з масок людей навколо них</a>.
        <br/><br/>
        Як <a href="https://www.sciencedirect.com/science/article/pii/S2468042720300191">David Fisman, Amy Greer та Ashleigh Tuite</a> зазначили у своїй статті, «ефект від масок та інших засобів захисту обличчя у зменшенні передачі COVID-19 буде ймовірно найбільшим, якщо буде приділено увагу їх доступності біднішим верстам населення.»
      </span>
    </aside>

    <h2>Людська ціна</h2>

    <p>
      Ми можемо просунутись на ще один крок у нашому дослідженні, виразивши силу масок у більш людських термінах.
      Маски рятують життя, зменшуючи шанси на зараження, чим, своєю чергою, зменшують масштаб епідемії.
    </p>

    <p>
      Чим більше людей носить маски, тим сильніше зменшується R₀.
      І зі зменшенням R₀, зменшується число заражених людей.
      Тому ми можемо отримати наочнішу картину, якщо замість візуалізувати R₀, ми візуалізуємо <b>інфіковану долю</b> популяції.
    </p>

    <p>
      Використовуючи загальноприйняту математичну модель епідемії, відому як <a href="https://uk.wikipedia.org/wiki/Полігамні_моделі_в_епідеміології">SIR модель</a>, ми можемо побудувати залежність між R₀ та кількістю людей, які врешті таки захворіють.
      (Щоб дізнатись більше про SIR моделі, я рекомендую переглянути це <a href="https://www.youtube.com/watch?v=gxAaO2rsdIs">чудове відео</a>.)
    </p>
    
    <p>Хоча ця модель і є суттєвим спрощенням (наприклад вона припускає повністю випадкові контакти між людьми та відсутність карантинних обмежень), вона дає нам грубу оцінку ціни відмови від носіння масок, виміряну у людських життях.</p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <label class="row half bigsplash">
        <div>R₀: <span class="dotted">{{R0}}</span></div>
        <slider v-model="R0" :min="1" :max="3" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Ефективність масок на видиху: <span class="dotted">{{convertToPercent(eout)}}</span>%</div>
        <slider v-model="eout" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Ефективність масок на вдиху: <span class="dotted">{{convertToPercent(ein)}}</span>%</div>
        <slider v-model="ein" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <graph :traces="graph3Traces(
        '% інфіковано'
        )" :layout="graph3Layout(
        'Як маски зменшують зараження',
        'Доля людей, що носить маски',
        'Доля людей, що заразиться'
      )" :config="config"></graph>

    </div>
  </div>

  <div class="container">

    <p>
      Ця схожа на горб крива описує, як маски впливають на масштаб епідемії.
      <b>При зростанні долі людей, що носять маски, число інфікованих різко падає.</b>
    </p>

    <p>
      Якщо майже ніхто не носить маски, ми на вершині горба, і більшість людей зрештою захворіють.
      Але кожен крок вправо рухає нас також вниз.
      Тому навіть маски з невисокою ефективністю та з незначною розповсюдженістю, можуть допомогти стримувати COVID-19.
    </p>

    <p>
      Щоб повністю зупинити поширення, ми повинні спуститись до підніжжя.
      І тут є хороша новина: що більше людей носять маски, то крутішим стає схил.
      Що значить, що <b>маски дають тим більший ефект для суспільства, що більше людей носить їх</b>.
    </p>

    <p>
      Якщо достатньо людей одягне маски, ми зможемо дістатись до підніжжя, де шанс заразитись нульовий.
      Саме так маски можуть зупинити епідемію.
      Але вони можуть це зробити тільки тоді, якщо достатньо людей носитиме їх.
    </p>

    <p>
      Ви можете спитати, скільки людей мають носити маски, щоб зупинити епідемію.
      Насправді це залежить від того, наскільки ефективними вони є.
    </p>

    <p>
      Оперуючи інтерактивами вище, ви можете побачити, що для повної зупинки COVID-19 при 50% ефективності масок, нам потрібно одягнути в них приблизно три чверті населення.
      Але якби маски були ефективні на 75%, для зупинки поширення вистачило б половини популяції.
    </p>

    <p>
      <b>Що ефективніші маски, тим швидше ми спускаємось з гори.</b>
      Ось чому важливо носити маски, що <a href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5ea3b5859bc8f31a11f3deb5/1587787141808/2020-04-24_N95DECON_Face_Mask_Technical_Report_v1_final.pdf">щільно закривають рот <i>і</i> ніс</a>, і що зроблені з якісного фільтрувального матеріалу.
    </p>

    <p>
      Ми всі хочемо дістатись до підніжжя пагорба і зупинити поширення COVID-19.
      Але ми не можемо дістатись туди поодинці. 
      Кожна людина може зробити тільки маленький крок у напрямку вниз.
    </p>

    <p>Разом з тим, якщо багато людей зроблять цей маленький крок, разом ми зробимо великий стрибок з гори.</p>

    <p>Разом ми можемо спуститись до підніжжя цього пагорба.</p>
    
    <p>Разом ми можемо зупинити COVID-19.</p>

  </div>

  <div class="ending">
    <p5 src="js/sketch0.js"></p5>
  </div>

</div>

<div class="page footer">
  <div class="container">
    <h2>Подяки та посилання</h2>

    <p>Це есе було створено <a href="https://twitter.com/aatishb">Aatish Bhatia</a> у співпраці з <a href="https://twitter.com/minutephysics">Henry Reich</a>. Переклад українською: Андрій Квасниця.</p>

    <p>Перегляньте <a href="https://www.youtube.com/watch?v=Y47t9qLc9I4">супутнє відео</a> для більш наочної візуалізації математики масок! Відео було спонсороване <a href="https://www.hsfoundation.org/">Heising-Simons Foundation</a>. Тут можна знайти <a href="https://aatishb.com/maskmath/calculator.html">калькулятор для математики масок</a> який фігурує у відео.</p>

    <p>
      Мої подяки <a href="https://twitter.com/roy_upasana">Upasana Roy</a>, <a href="https://twitter.com/PrakashLab">Manu Prakash</a>, <a href="https://twitter.com/DFisman">David Fisman</a>, <a href="https://twitter.com/MonicaGandhi9">Monica Gandhi</a> та <a href="https://this-vijay.github.io/">Vijay Ravikumar</a> за помічні відгуки до чернеток есе.
    </p>

    <p>
      Якщо ви вважаєте це есе важливим, і хотіли б бачити більше схожих робіт у майбутньому, ви можете <b><a href="https://www.patreon.com/aatishb">підтримати мою роботу на Patreon</a></b>.
    </p>

    <p>
      Тут можна подивитись <a href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5f2c4463a5c9f75a38d2b26f/1596736614213/N95DECON_cloth_mask_breathability_filtrationtechnical_report_v1_200804.pdf">деякі</a> <a href="https://www.maskfaq.com/test-results">інформаційні</a> <a href="http://built-envi.com/what-kind-of-mask-should-i-be-wearing-to-protect-against-covid-19/">матеріали</a> про фільтрувальні здатності типових матеріалів, з яких роблять маски.
      Хоча це і суттєво залежить від їхнього матеріалу і якості прилягання, певні матеріали можуть <a href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5f2c4463a5c9f75a38d2b26f/1596736614213/N95DECON_cloth_mask_breathability_filtrationtechnical_report_v1_200804.pdf">перевищувати</a> <a href="https://www.maskfaq.com/test-results">80%</a> фільтрувальної здатності, якщо застосовані у щільно припасованій масці.
    </p>

    <p>
      Для любителів алгебри (ви знаєте, про кого я), <a href="https://github.com/aatishb/maskmath/blob/master/model/mathmodel.ipynb">ось тут текст</a>, який занурюється глибше у деталі.
      Графіки у цьому есе базуються на роботі <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/j.1539-6924.2010.01428.x">Brienen та інших</a> з урахуванням двосторонньої ефективності масок.
    </p>

    <p>
      Наскільки мені відомо, модель двосторонньої маски, на якій базується дане есе, вперше опубліковане в препринті <a href="https://arxiv.org/ftp/arxiv/papers/2003/2003.07353.pdf">Tian та інших</a> (Таблиця S3 та Рис. S4). 
      Це було зауважено Howard та інші у їхній <a href="https://www.preprints.org/manuscript/202004.0203/v3">оглядовій статті</a> та <a href="https://www.fast.ai/2020/04/13/masks-summary/">супровідному есе</a>, і далі популяризовано <a href="https://medium.com/the-atlantic/the-real-reason-to-wear-a-mask-e6405abbc484">Zeynep Tufekci, Jeremy Howard, Trisha Greenhalgh</a> в Atlantic та <a href="https://www.newyorker.com/science/medical-dispatch/amid-the-coronavirus-crisis-a-regimen-for-reentry">Atul Gawande</a> у New Yorker, який пише: <i>«Що ефективніша маска, то більший вплив.»</i>
    </p>

    <p>
      Цей текст опубліковано під ліцензією Creative Commons <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>. Початковий код доступний <a href="https://github.com/aatishb/maskmath">на Github</a>. Емодзі створені <a href="https://twemoji.twitter.com/">Twitter</a> і були модифіковані додаванням масок.
    </p>

    <p>
      Дякую за те, що прочитали, бережіть себе! 😷
    </p>

  </div>
</div>

<script src="libraries/plotly-basic.min.js"></script>
<script src="libraries/vue.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"></script>
<script src="libraries/vue-observe-visibility.js"></script>
<script src="libraries/p5.min.js"></script>
<script src="libraries/lambertw.js"></script>
<script src="js/vue-definitions.js"></script>
</body>

</html>
