<!DOCTYPE html>

<html lang="nl">

<head>

  <meta charset="utf-8">
  <title>De Multiplicatieve Kracht van Mondkapjes</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Een Onderzoekend Essay over Hoe Mondkapjes een Einde Kunnen Maken aan COVID-19">
  <meta name="author" content="Aatish Bhatia">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&family=Raleway:wght@200;300;400;700&display=swap" rel="stylesheet"> 

  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Waarom Mondkapjes Beter Werken Dan Je Denkt: Een Interactief Essay">
  <meta name="twitter:description" content="Zelfs gedeeltelijk effectieve mondkapjes kunnen het verspreiden van COVID-19 voorkomen, zolang maar genoeg mensen er eentje dragen.">
  <meta name="twitter:site" content="@aatishb">
  <!-- Twitter Summary card images must be at least 120x120px -->
  <meta name="twitter:image" content="https://aatishb.com/maskmath/assets/twitter-banner.png">
  
  <!-- Open Graph data -->
  <meta property="og:title" content="Waarom Mondkapjes Beter Werken Dan Je Denkt: Een Interactief Essay" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://aatishb.com/maskmath/" />
  <meta property="og:image" content="https://aatishb.com/maskmath/assets/twitter-banner.png" />
  <meta property="og:description" content="Zelfs gedeeltelijk effectieve mondkapjes kunnen het verspreiden van COVID-19 voorkomen, zolang maar genoeg mensen er eentje dragen." />

</head>

<body>
<div id="root" class="page">

  <div class="header">
    <p5 src="js/sketch0.js"></p5>
    <div class="overlay">
      <div>
        <h1>De Multiplicatieve Kracht van Mondkapjes</h1>
        <h3>Een Onderzoekend Essay over Hoe Mondkapjes een Einde Kunnen Maken aan COVID-19</h3>
        <h4>door <a href="https://aatishb.com/">Aatish Bhatia</a> ⨉ <a href="https://www.youtube.com/user/minutephysics">Minute Physics</a></h4>
        <translation :list="translations"></translation>
      </div>
    </div>
  </div>

  <div class="container">

    <p>
      Wij <a href="https://link.springer.com/article/10.1007/s11606-020-06067-8">weten</a> <a href="https://www.preprints.org/manuscript/202004.0203/v1">inmiddels</a> <a href="https://science.sciencemag.org/content/368/6498/1422">dat</a> mondkapjes een overduidelijk effect hebben op het vertragen van de verspreiding van COVID-19.
      Toch zijn sommigen mensen tegen het dragen van mondkapjes omdat zij dit als een persoonlijke keuze beschouwen in plaats van een volksgezondheidsprobleem.
    </p>

    <p>
   	  Dit gaat voorbij aan het grotere plaatje, omdat <a href="https://link.springer.com/article/10.1007/s11606-020-06067-8">mondkapjes zowel drager <i>als ook</i> de mensen rondom hen beschermen</a>.
   	  Deze <a href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5ea3b5859bc8f31a11f3deb5/1587787141808/2020-04-24_N95DECON_Face_Mask_Technical_Report_v1_final.pdf">tweerichtings bescherming</a> is een krachtige manier om, bij wijdvespreid gebruik van mondkapjes, de epidemie te stoppen. 
    </p>

    <network :maskusage="0.6"></network>

    <p>
      Door de wiskunde achter het gebruik van mondkapjes te onderzoeken, laten we zien dat wanneer 60% van de mensen een mondkapje draagt dat voor 60% effectief is, de overdracht van het virus tot wel 60% daalt. Dit is grofweg wat nodig is om de verspreiding van COVID-19 te stoppen.
    </p>      

    <aside>
      <div class="center">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Y47t9qLc9I4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <span style="margin-top: 0.75rem;">
          Bekijk bovenstaande video: <a href="https://www.youtube.com/watch?v=Y47t9qLc9I4">Why Masks Work BETTER Than You'd Think</a>
        </span>
      </div>
    </aside>

    <h2>Verspreid de boodschap, niet het virus</h2>

    <p>
      Maar laten we eerst een gevoel krijgen voor de getallen.
      Wanneer een persoon uitademt, dan <a href="https://www.youtube.com/watch?v=f57LXUbrtPU">verspreidt diegene speeksel druppels</a> van verschilende grootte.
      Als deze persoon besmet is, dan bevatten deze speeksel druppels virusdeeltjes.  
      Deze <a href="https://arxiv.org/pdf/2005.10988.pdf">virusdragende speeksel druppels</a> is de belangrijkste manier waarop COVID-19 vespreidt.
    </p>

    <p>Wanneer een besmet persoon uitademt, vespreidt deze <b>duizend</b> virusdeeltjes per minuut.</p>

    <p>Wanneer diegene praat, dan worden er <b>tienduizend</b> virusdeeltjes verspreid per minuut.</p>

    <p>Wanneer diegene hoest, dan worden er  <b>honderdduizend</b> virusdeeltjes verspreid per minuut.</p>

    <p>En bij niezen zijn tot wel <b>een miljoen</b> virusdeeltjes.</p>

    <p>
      Hoe meer virusdeeltjes zich bewegen van persoon tot persoon, hoe groter de kans om besmet te raken.
      (En eenmaal besmet, leidt bloodstelling aan meer virusdeeltjes over het algemeen tot <a href="https://www.nytimes.com/2020/05/29/health/coronavirus-transmission-dose.html">hevigere symptomen</a>.)
    </p>

  </div>

  <anim-with-caption :mask1="false" :mask2="false" contagiousperson="Besmet Persoon" susceptibleperson="Vatbaar Persoon"><span class="red">Verpreidingsroute 1:</span> Wanneer een besmet persoon bij een vatbaar persoon in de buurt komt, kan hun geproest ziektes verspreiden.</anim-with-caption>

  <div class="container">

    <p>Mondkapjes verminderen de verspreiding van speeksel deeltjes tussen mensen - door het blokkeren of omleiden van de luchtstroom waarin deze deeltjes zitten - hierdoor neemt de kans op besmetting af.</p>

    <p>
      Het is goed om wel in gedachten te houden dat geen enkel masker perfect is.
      Zelfs de N95 mondkapjes, aangeraden voor mensen die in de zorg werken, blokkeren <a href="https://www.youtube.com/watch?v=eAdanPfQdCA">95% van moeilijkst tegen te houden deeltjes</a> (en dan alleen wanneer je <a href="https://www.n95decon.org/publications">het mondkapje correct draagt </a>).
    </p>

    <p>
      Mondkapjes bieden geen garantie, ze verlagen het risico.
      Zie het als een paraplu; een paraplu garandeert niet dat je droog blijft, maar verlaagt de kans dat je nat wordt.
      Net als paraplus werken mondkapjes alleen als je ze correct gebruikt.
      Maar in tegenstelling tot een paraplu, die alleen maar de gebruiker drooghoudt, beschermt een mondkapje ook de mensen <i>rondom</i> de gebruiker.
    </p>

    <p>
    </p>

    <h2>Waarom Mondkapjes Ons Dubbel Beschermen.</h2>

    <p>
      Stel dat een besmet persoon een mondkapje draagt dat voor 50 procent effectief is. 
      Met '50 procent effectief' bedoel ik dat het dragen van dit mondkapje de kans halveert dat deze persoon een vatbaar persoon in de buurt besmet. 
    </p>

  </div>

  <anim-with-caption :mask1="true" :mask2="false" :eout="0.5" contagiousperson="Besmet Persoon" susceptibleperson="Vatbaar Persoon"><span class="orange">Verpreidingsroute 2:</span> Wanneer een besmet persoon een 50% effectief mondkapje draagt, neemt de kans op ziekteoverdracht af met 50%.</anim-with-caption>

  <div class="container">

    <p>Maar was als de vatbare persoon een mondkapje draagt?</p>

    <p>
      In het algemeen hangt de effectiviteit van een mondkapje af of je <b>inademt</b> of <b>uitademt</b>. 
      Laten we voor nu, om het simpel te houden, aannemen dat een mondkapje net zo effectief is bij in- als uitademen.	
    </p>

    <p>In dit geval zal de kans op besmetting via deze route ook afnemen met 50%.</p>

  </div>

  <anim-with-caption :mask1="false" :mask2="true" :ein="0.5" contagiousperson="Besmet Persoon" susceptibleperson="Vatbaar Persoon"><span class="orange">Verspreidingsroute 3:</span> Wanneer een vatbaar persoon een mondkapje draagt dat voor 50% effectief is, daalt de kans op virusoverdracht met 50%.</anim-with-caption>
  
  <div class="container">

    <p>Wat als nu zowel de besmette persoon als <i>ook</i> de vatbare persoon een mondkapje dragen?</p> 

    <p>
      Het eerste mondkapje halveert de kans op besmetting en het tweede mondkapje wederom halveert de kans op besmetting.
      Dus wanneer <i>allebei</i> de personen een mondkapje dragen, neemt de kans op besmetting af met de helft van de helft, oftewel 25% (in vergelijking tot de situatie waarin geen van beide een mondkapje draagt). Dit is in totaal een afname van de kans op infectie van 75%.
    </p>

  </div>

  <anim-with-caption :mask1="true" :mask2="true" :eout="0.5" :ein="0.5" contagiousperson="Besmet Persoon" susceptibleperson="Vatbaar Persoon"><span class="yellow">Verspreidingsroute 4:</span> Wanneer beide personen een mondkapje dragen dat voor 50% effectief is, neemt de kans op virusoverdracht af met 75%.</anim-with-caption>
  
  <div class="container">

    <p>
      Als jer er over nadenkt, is het best verrassend dat een 50% effectief mondkapje de kans op besmetting kan doen afnemen met 75%.
      Dit is mogelijk omdat wanneer beide mensen een mondkapje dragen, de kans op besmetting tweemaal halveert.
      Deze <b>dubbele bescherming</b> maakt mondkapjes effectiever dan je aanvankelijk verwacht.

    </p>

    <p>Hieronder zijn de vier mogelijke routes waarmee een virus zich door de lucht kan verpreiden van persoon tot persoon.</p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row big-small">

        <div class="column onehundredpx">
          <div class="center">Virus Verpreidingsroutes</div>
          <anim :mask1="false" :mask2="false"></anim>
          <anim :mask1="true" :mask2="false" :eout="0.5"></anim>
          <anim :mask1="false" :mask2="true" :ein="0.5"></anim>
          <anim :mask1="true" :mask2="true" :eout="0.5" :ein="0.5"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Afname in Virus Overdracht</div>
          <div class="center"><span class="red">0%</span></div>
          <div class="center"><span class="orange">50%</span></div>
          <div class="center"><span class="orange">50%</span></div>
          <div class="center"><span class="yellow">75%</span></div>
        </div>

      </div>

      <div class="caption">
      	De vier manieren waarop COVID-19 kan overgaan van persoon tot persoon. Hier nemen we aan dat mondkapjes voor 50% effectief zijn.
      </div>

    </div>

  </div>

  <div class="container">

    <h2>Van Persoon tot Bevolking</h2>

    <p>
      Tot dusver hebben we alleen gekeken naar de overdracht van het virus tussen twee personen.	
      Hoe kunnen we nu de stap maken naar het begrijpen van de virusoverdracht binnen de <i>gehele bevolking</i>?
    </p> 

    <p>In de uiterste gevallen is dit makkelijk.</p> 

    <p>
      Wanneer bijvoorbeeld <b>niemand</b> een mondkapje draagt, zal bij de ontmoeting tussen twee personen de kans dat <span class="red">geen van beiden</span> een mondkapje draagt 100% zijn.
    </p>

    <network :maskusage="0"></network>

    <p>
      In dit geval hoeven we alleen maar rekening te houden met <span class="red">route 1</span> voor de verpreiding van het virus, en voor de bevolking is er <span class="red">geen afname</span> in de virusoverdracht.
    </p>

    <p>
      In het andere uiterste, waarbij <b>iedereen</b> een mondkapje draagt, zal wanneer twee personen elkaar ontmoeten de kans dat ze <span class="yellow">allebei</span> een mondkapje dragen 100% zijn.
    </p>

    <network :maskusage="1"></network>

    <p>
      In dit geval hoeven we alleen maar rekening te houden met <span class="yellow">route 4</span> voor de verspreiding van het virus. Aannemend dat mondkapjes voor 50% effectief zijn beide kanten op, dan zal de virusoverdracht met <span class="yellow">75% dalen</span> voor de gehele bevolking.
    </p>

    <p>
      Dus wanneer <i>iedereen</i> een mondkapje draagt (of wanneer <i>niemand</i> er eentje draagt), is het makkelijk om de afname in virusoverdracht voor de bevolking te berekenen omdat er maar een verspreidingsroute mogelijk is.	
    </p>

    <p>
      But in reality, some people wear masks and others don’t.
      Which means the virus can spread through a mix of all four routes.
      How likely each route is will depend on how many people wear masks.
    </p>

    <label class="row half bigsplash">
      <div>Mask Usage: <span class="dotted">{{convertToPercent(pnetwork)}}</span>%</div>
      <slider v-model="pnetwork" :min="0" :max="1" :step="0.01"></slider>
    </label>

    <network :maskusage="pnetwork"></network>

    <p>
      For example, <b>if 50% of people wear masks</b>, then whenever two people meet at random, the chance that <span class="yellow">both people wear masks</span> is 50% ⨉ 50%, i.e. 25%.
      Similarly, you can work out the chance of the other three disease transmission routes.
    </p>

    <p>
      When exactly half the population wears masks, it turns out that each route is equally likely.
      (Can you convince yourself why this has to be true?)
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row big-small-small">

        <div class="column onehundredpx">
          <div class="center">Disease Transmission Route</div>
          <anim :mask1="false" :mask2="false"></anim>
          <anim :mask1="true" :mask2="false" :eout="0.5"></anim>
          <anim :mask1="false" :mask2="true" :ein="0.5"></anim>
          <anim :mask1="true" :mask2="true" :eout="0.5" :ein="0.5"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Drop in Disease Transmission</div>
          <div class="center"><span class="red">0%</span></div>
          <div class="center"><span class="orange">50%</span></div>
          <div class="center"><span class="orange">50%</span></div>
          <div class="center"><span class="yellow">75%</span></div>
        </div>

        <div class="column onehundredpx">
          <div class="center">Chance of This Route</div>
          <div class="center">25%</div>
          <div class="center">25%</div>
          <div class="center">25%</div>
          <div class="center">25%</div>
        </div>

      </div>

      <div class="caption">
        The four ways that COVID-19 can spread from person to person, assuming that 50% of people wear a 50% effective mask.
      </div>

    </div>
  </div>
  
  <div class="container">

    <p>
      We can now calculate the <b>average drop in disease transmission in the population</b>.
      Since we’ve set things up so that each route is equally likely, this is just the average of <span class="red">0%</span>, <span class="orange">50%</span>, <span class="orange">50%</span> and <span class="yellow">75%</span>, which is 43.75%.
    </p>

    <p>
      People who <i>don’t</i> wear masks get infected via the first two routes, which are equally likely when half the population wears a mask.
      So the drop in disease transmission to non-mask wearers is the average of <span class="red">0%</span> and <span class="orange">50%</span>, which is 25%.
    </p>

    <p>
      Meanwhile, people who <i>do</i> wear masks get infected via the last two routes.
      So the drop in disease transmission to mask-wearers is the average of <span class="orange">50%</span> and <span class="yellow">75%</span>, which is 62.5%.
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">
      <div class="column">
        <div class="splash">Average Drop in Disease Transmission = <span style="font-size: 2rem;"><b>43.75</b></span>%</div>
        <div class="splash">Drop in Disease Transmission to <b>Non-Mask Wearers</b> = 25%</div>
        <div class="splash">Drop in Disease Transmission to <b>Mask-Wearers</b> = 62.5%</div>
      </div>
      <div class="caption">
        (Assuming 50% of people wear a 50% effective mask.)
      </div>
    </div>
  </div>
  
  <div class="container">

    <p>
      So even non-mask wearers get a modest benefit, because the air they inhale is often mediated by <i>other people’s</i> masks.
      But mask-wearers benefit much more, thanks to the added protection their masks provide.
    </p>

    <p>And since the population consists of both mask-wearers and non-mask wearers, the average benefit lies in between the benefit to these two groups.</p>

    <p>So in this simplified example (where 50% of people wear 50% effective masks) we’ve worked out how to go from the <b>benefit that masks offer an <i>individual</i></b> to the <b>average benefit that masks offer a <i>population</i>.</b></p>

    <h2>Maskology</h2>

    <p>
      Let's <a href="https://github.com/aatishb/maskmath/blob/master/model/mathmodel.ipynb">apply this logic</a> to <i>any values</i> of <b>mask usage</b> and <b>mask effectiveness</b>.
      Vary the sliders below to see how masks moderate the spread of disease.
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <label class="row half bigsplash">
        <div>Mask Usage: <span class="dotted">{{convertToPercent(p)}}</span>%</div>
        <slider v-model="p" :min="0" :max="1" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Mask Effectiveness on Exhale: <span class="dotted">{{convertToPercent(eout)}}</span>%</div>
        <slider v-model="eout" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Mask Effectiveness on Inhale: <span class="dotted">{{convertToPercent(ein)}}</span>%</div>
        <slider v-model="ein" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <div class="row big-small-small padabove">

        <div class="column onehundredpx">
          <div class="center">Disease Transmission Route</div>
          <anim :mask1="false" :mask2="false"></anim>
          <anim :mask1="true" :mask2="false" :eout="eout"></anim>
          <anim :mask1="false" :mask2="true" :ein="ein"></anim>
          <anim :mask1="true" :mask2="true" :eout="eout" :ein="ein"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Drop in Disease Transmission</div>
          <div class="center"><span><span class="dotted">{{convertToPercent(d1)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(d2)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(d3)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(d4)}}</span>%</span></div>
        </div>

        <div class="column onehundredpx">
          <div class="center">Chance of This Route</div>
          <div class="center"><span><span class="dotted">{{convertToPercent(l1)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(l2)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(l3)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(l4)}}</span>%</span></div>
        </div>

      </div>


      <div class="row half bigsplash">
        <span>Average Drop in Disease Transmission: <span class="dotted" style="font-size: 2rem;"><b>{{convertToPercent(1 - (1 - ein * p) * (1 - eout * p))}}</b></span>%</span>
      </div>

      <div class="row half bigsplash">
        <span>Drop in Disease Transmission to Non-Mask Wearers: <span class="dotted">{{convertToPercent(eout * p)}}</span>%</span>
      </div>

      <div class="row half bigsplash">
        <span>Drop in Disease Transmission to Mask-Wearers: <span class="dotted">{{convertToPercent(1 - (1 - eout * p) * (1 - ein))}}</span>%</span>
      </div>

    </div>
  </div>
  
  <div class="container">

    <p>
      What happens to disease transmission if 60% of people wear a 60% effective mask?
      Or 90% wear a 50% effective mask?
      Or 50% wear a 90% effective mask?
      This interactive lets you answer these questions.
    </p>

    <p>The conclusion: <b>When more people wear masks, everyone is safer.</b></p>

    <p>
      By filtering inhaled air, masks provide first-hand protection to those who wear them.
      And by filtering or redirecting exhaled air, masks provide second-hand protection to <i>everyone</i> — including people who don't wear masks.
    </p>

    <aside>
      <span @click="expandaside1 = true;">What about masks that don't filter exhaled air? 
        <span v-if="!expandaside1"> (Click to expand)</span>
      </span>

      <span v-if="expandaside1">
        Some N95 masks come with <a href="https://www.healthline.com/health-news/certain-type-n95-mask-harm-covid19-spread">valves or openings</a> that release air without filtering it.
        The CDC <a href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/respirator-use-faq.html">recommends against</a> wearing these masks in public health settings, because they put other people at risk.
        You can see this for yourself in the interactive above.
        <br><br>
        First set the inhale & exhale effectiveness to a high value (with mask usage somewhere in the middle).
        This represents a highly effective mask like an N95.
        Now drag the exhale effectiveness towards zero and watch how disease transmission rises, particularly among non-mask wearers.
        <br><br>
        If you happen to already have one of these masks, the CDC recommends <a href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/respirator-use-faq.html">covering the exhalation valve</a> with a surgical mask.
      </span>
    </aside>


    <p>
      In fact, masks are even more effective than these numbers suggest.
    </p>

    <h2>How To Stop An Epidemic</h2>

    <p>
      You put out a fire by starving it of oxygen.
      But you don't need to get rid of all the oxygen, you only need to reduce it enough to stop the fire from growing.
      It's the same with an epidemic — you don't need to cut disease transmission by 100%. 
      If you lower it just enough to stop the disease from spreading, you can extinguish the epidemic.
    </p>

    <p>
      You've probably heard of the epidemiology term R0, pronounced R-nought or R-zero.
      This is <a href="https://en.wikipedia.org/wiki/Basic_reproduction_number">the number of people that a contagious person can infect</a> in a population with no prior immunity to the disease.
    </p> 

    <p>When R0 exceeds 1, the disease will grow exponentially until either enough people get vaccinated, or enough people get infected and develop immunity to the disease.</p>

    <p>
      But, as Ed Yong writes in the Atlantic, <a href="https://www.theatlantic.com/science/archive/2020/01/how-fast-and-far-will-new-coronavirus-spread/605632/">"R0 is not destiny"</a>.
      R0 is a product of two numbers: the average number of people that a contagious person encounters, and the chance of infection upon contact.
    </p>

  </div>

  <div class="graphic">
      <div class="splash">R0 = <span class="dashed">average number of people that a contagious person encounters</span> <br>⨉ <span class="dotted">chance of infection upon contact</span></div>
  </div>
  
  <div class="container">

    <p>
      Social distancing, quarantines, and lockdowns decrease <span class="dashed">the first number</span>.
      And masks decrease <span class="dotted">the second number</span>.
      The goal of all these public health strategies is to bring the epidemic under control by pulling R0 beneath 1.
    </p>

    <p>
      With this in mind, let's re-express the impact of masks in terms of R0.
      The graph below shows how R0 varies as mask-wearing increases.
    </p>

    <p>
      You can use the first slider to vary R0, which for COVID-19 is between 2 and 3 (that's in the absence of other public health measures such as social distancing, which further reduce R0.)
      By varying the effectiveness of the masks, you can see how masks can help bring an epidemic under control.
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <label class="row half bigsplash">
        <div>R0: <span class="dotted">{{R0}}</span></div>
        <slider v-model="R0" :min="1" :max="3" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Mask Effectiveness on Exhale: <span class="dotted">{{convertToPercent(eout)}}</span>%</div>
        <slider v-model="eout" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Mask Effectiveness on Inhale: <span class="dotted">{{convertToPercent(ein)}}</span>%</div>
        <slider v-model="ein" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <graph :traces="graph2Traces" :layout="graph2Layout(
        'How Masks Reduce R0',
        'Percentage of People Who Wear Masks',
        '# People a Contagious Person Infects (R0)',
        'Epidemic Under Control',
        'Epidemic Out Of Control'
      )" :config="config"></graph>

    </div>
  </div>

  <div class="container">

    <p>
      To stop the spread of COVID-19, we need to keep R0 beneath 1.
      When this happens, on average, a contagious person will infect less than one person, and the epidemic will grind to a halt.
    </p>

    <p>
      So how many people need to wear a 50% effective mask to stop the spread of COVID-19?
      What if masks were 75% effective?
      Or 90% effective?
      This interactive lets you predict answers to these questions.
    </p>

    <aside>

      <span @click="expandaside2 = true;">An important caveat: people don't usually mix randomly. 
        <span v-if="!expandaside2"> (Click to expand)</span>
      </span>
      
      <span v-if="expandaside2">
        People who wear masks may be more likely to interact with other mask wearers, and less likely to interact with people who don't wear masks.
        <br/><br/>
        Similarly, non-mask wearers might live in clusters where mask usage is lower than average.
        This tendency to interact with others who have similar preferences <a href="https://www.sciencedirect.com/science/article/pii/S2468042720300191">diminishes the protective power of masks</a> because <a href="https://github.com/aatishb/maskmath/blob/master/model/mathmodel.ipynb">non-mask wearers become less likely to benefit from nearby mask-wearers</a>.
        <br/><br/>
        As <a href="https://www.sciencedirect.com/science/article/pii/S2468042720300191">David Fisman, Amy Greer, and Ashleigh Tuite</a> write in their analysis, "the impact of masks and other face coverings in reducing COVID-19 transmission is likely to be greatest if attention is paid to ensuring availability for disadvantaged populations."
      </span>
    </aside>

    <h2>The Human Cost</h2>

    <p>
      We can take our understanding one step further by expressing the power of masks in more human terms.
      Masks save lives by reducing the chance of infection which, in turn, shrinks the extent of the epidemic.
    </p>

    <p>
      As more people wear masks, R0 decreases.
      And as R0 decreases, so does the number of infected people.
      So we can get a clearer picture if instead of visualizing R0, we visualize the <b>infected fraction</b> of the population.
    </p>

    <p>
      By using a widely-adopted mathematical model of epidemics known as an <a href="https://en.wikipedia.org/wiki/Compartmental_models_in_epidemiology">SIR model</a>, we can relate R0 to the fraction of people who will eventually be infected.
      (To learn more about SIR models, I recommend watching this <a href="https://www.youtube.com/watch?v=gxAaO2rsdIs">excellent video</a>.)
    </p>
    
    <p>Although this model is a considerable simplification (e.g. it assumes random mixing between people and no lockdowns), it offers us a ballpark estimate of the human cost of not wearing masks.</p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <label class="row half bigsplash">
        <div>R0: <span class="dotted">{{R0}}</span></div>
        <slider v-model="R0" :min="1" :max="3" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Mask Effectiveness on Exhale: <span class="dotted">{{convertToPercent(eout)}}</span>%</div>
        <slider v-model="eout" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Mask Effectiveness on Inhale: <span class="dotted">{{convertToPercent(ein)}}</span>%</div>
        <slider v-model="ein" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <graph :traces="graph3Traces(
        '% Infected'
        )" :layout="graph3Layout(
        'How Masks Reduce Infections',
        'Percentage of People Who Wear Masks',
        'Percentage of People Who Will Be Infected'
      )" :config="config"></graph>

    </div>
  </div>

  <div class="container">

    <p>
      This hill-shaped curve shows us how masks influence the size of an epidemic.
      <b>As more people wear masks, the number of infections plummet.</b>
    </p>

    <p>
      When very few people wear masks, we're at the top of the hill, and most people will eventually get infected.
      But every step to the right moves us further down.
      So even partially effective masks, when partially adopted, can help reduce the spread of COVID-19.
    </p>

    <p>
      To completely stop the spread, we need to get to the bottom of this hill.
      But there's a silver lining: as more people wear masks, the hill grows steeper.
      Which means <b>masks provide greater returns to society as more people wear them</b>.
    </p>

    <p>
      If enough people wear masks, we can reach the bottom of the hill, where the chance of infection is zero.
      This is how masks can end an epidemic.
      But masks can only end an epidemic if enough people wear them.
    </p>

    <p>
      You might wonder how many people have to wear masks to end an epidemic.
      Well, that depends on how effective the masks are.
    </p>

    <p>
      By playing with interactive above, you'll see that if masks were 50% effective, we'd need roughly three-quarters of the population to wear them to stop the spread of COVID-19.
      But if masks were 75% effective, we'd only need half the population to wear them to stop the spread.
    </p>

    <p>
      <b>The more effective the mask, the faster we can descend the hill.</b>
      That's why it's important to wear a mask that <a href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5ea3b5859bc8f31a11f3deb5/1587787141808/2020-04-24_N95DECON_Face_Mask_Technical_Report_v1_final.pdf">tightly seals your mouth <i>and</i> nose</a>, and is made from an effective filtering material.
    </p>

    <p>
      We all want to get to the bottom of the hill and stop the spread of COVID-19.
      But you can't get there by yourself.
      Each person can only take a tiny step downwards.
    </p>

    <p>However, when many people take this small step, together, we take a giant leap down the hill.</p>

    <p>Together, we can get to the bottom of the hill.</p>
    
    <p>Together, we can hit the brakes on COVID-19.</p>

  </div>

  <div class="ending">
    <p5 src="js/sketch0.js"></p5>
  </div>

</div>

<div class="page footer">
  <div class="container">
    <h2>Credits & References</h2>

    <p>This essay was created by <a href="https://twitter.com/aatishb">Aatish Bhatia</a> in collaboration with <a href="https://twitter.com/minutephysics">Henry Reich</a>.</p>

    <p>Check out our <a href="https://www.youtube.com/watch?v=Y47t9qLc9I4">companion video</a> for a snappy visual take on the math of masks! The video was supported by the <a href="https://www.hsfoundation.org/">Heising-Simons Foundation</a>. Here's the <a href="https://aatishb.com/maskmath/calculator.html">mask math calculator</a> shown in the video.</p>

    <p>
      Many thanks to <a href="https://twitter.com/roy_upasana">Upasana Roy</a>, <a href="https://twitter.com/PrakashLab">Manu Prakash</a>, <a href="https://twitter.com/DFisman">David Fisman</a>, <a href="https://twitter.com/MonicaGandhi9">Monica Gandhi</a>, and <a href="https://this-vijay.github.io/">Vijay Ravikumar</a> for their helpful feedback on drafts of this essay.
    </p>

    <p>
      If you found this essay valuable and would like to see more work like this in future, you can <b><a href="https://www.patreon.com/aatishb">support my work on Patreon</a></b>.
    </p>

    <p>
      Here are <a href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5f2c4463a5c9f75a38d2b26f/1596736614213/N95DECON_cloth_mask_breathability_filtrationtechnical_report_v1_200804.pdf">some</a> <a href="https://www.maskfaq.com/test-results">informative</a> <a href="http://built-envi.com/what-kind-of-mask-should-i-be-wearing-to-protect-against-covid-19/">resources</a> on the filtering ability of common mask materials.
      While masks vary a lot in effectiveness depending on their material and fit, some materials can <a href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5f2c4463a5c9f75a38d2b26f/1596736614213/N95DECON_cloth_mask_breathability_filtrationtechnical_report_v1_200804.pdf">exceed</a> <a href="https://www.maskfaq.com/test-results">80%</a> filtering ability when used in a tightly-sealed mask.
    </p>

    <p>
      For the algebra enthusiasts among you (you know who you are), <a href="https://github.com/aatishb/maskmath/blob/master/model/mathmodel.ipynb">here's a writeup</a> covering the math in more detail.
      The graphs in this essay extend the work of <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/j.1539-6924.2010.01428.x">Brienen et al</a> to account for the bidirectional effectiveness of masks.
    </p>

    <p>
      The bidirectional model of masks underlying this essay was to my knowledge first published in a preprint by <a href="https://arxiv.org/ftp/arxiv/papers/2003/2003.07353.pdf">Tian et al</a> (Table S3 and Fig S4). 
      This was highlighted by Howard et al in their <a href="https://www.preprints.org/manuscript/202004.0203/v3">review article</a> and <a href="https://www.fast.ai/2020/04/13/masks-summary/">accompanying essay</a>, and further popularized by <a href="https://medium.com/the-atlantic/the-real-reason-to-wear-a-mask-e6405abbc484">Zeynep Tufekci, Jeremy Howard, Trisha Greenhalgh</a> in the Atlantic, and by <a href="https://www.newyorker.com/science/medical-dispatch/amid-the-coronavirus-crisis-a-regimen-for-reentry">Atul Gawande</a> in the New Yorker, who writes, <i>"The more effective the mask, the bigger the impact."</i>
    </p>

    <p>
      This text is published under a Creative Commons <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a> license. The source code is available <a href="https://github.com/aatishb/maskmath">on Github</a>. The emojis are created by <a href="https://twemoji.twitter.com/">Twitter</a> and were modified to include a custom mask design.
    </p>

    <p>
      Thanks for reading, and stay safe! 😷
    </p>

  </div>
</div>

<script src="libraries/plotly-basic.min.js"></script>
<script src="libraries/vue.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"></script>
<script src="libraries/vue-observe-visibility.js"></script>
<script src="libraries/p5.min.js"></script>
<script src="libraries/lambertw.js"></script>
<script src="js/vue-definitions.js"></script>
</body>

</html>
