<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>How Masks Protect Us</title>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<div id="root" class="page">

  <div id="header">
    <div class="overlay">
      <div>
        <h1>How Masks Protect Us</h1>
        <h3>Why Masks Are More Effective Than You Might Think</h3>
        <h3>by <a href="https://aatishb.com/">Aatish Bhatia</a></h3>
      </div>
    </div>
  </div>

  <div class="container">

    <p>
      We <a href="https://www.sciencedirect.com/science/article/pii/S0140673620311429">now know</a> that masks have an outsized effect on halting the spread of COVID-19.
      And yet some people continue to oppose wearing masks because they view this as a personal choice rather than as a public health issue.
    </p>

    <p>
      This misses the big picture, because masks don't just protect the wearer, they also protect the people around them.
      Your decision on whether or not to wear a mask impacts your society.
    </p>

    <p>
      In fact, we can actually <i>quantify</i> this impact.
      In this interactive essay, we’ll calculate the social benefit of wearing masks (or conversely, the social cost of not wearing masks).
      By doing the math on masks, we'll see how masks can be a surprisingly powerful way to extinguish epidemics.
      For example, we'll calculate that when 60% of people wear masks that are 60% effective, virus transmission will decrease by 60% — roughly what's needed to stop the spread of COVID-19.
    </p>

    <h2>Say it, Don't Spray It</h2>

    <p>
      First, let’s get a ballpark sense for some numbers.
      When a person exhales, they spray out saliva particles of various tiny sizes.
      If this person is contagious, then their 'mouth spray' is packed with viral particles.
      This virus-laden saliva spray is the main way that COVID-19 spreads.
    </p>

    <p>When a contagious person breathes, they spray out roughly <b>a thousand</b> viral particles every minute.</p>

    <p>When they talk, they spray out roughly <b>ten thousand</b> viral particles every minute.</p>

    <p>When they cough, they spray out roughly <b>a hundred thousand</b> viral particles.</p>

    <p>And when they sneeze, they spray out roughly <b>a million</b> viral particles.</p>

    <p>
      The more viral particles travel from person to person, the higher the chance of infection.
      (And once infected, people who inhale more viral particles will generally experience more severe symptoms.)
    </p>

  </div>

  <anim-with-caption :mask1="false" :mask2="false">Scenario 1: When a contagious person is in close contact with a suceptible person, virus-laden saliva particles can transmit disease.</anim-with-caption>

  <div class="container">

    <p>Masks reduce the amount of mouth spray that travels from a contagious person to a susceptible person (either by blocking or by redirecting the spray), thereby reducing the risk of infection.</p>

    <p>
      It's worth keeping in mind that no mask is perfect.
      Even the N95 masks recommend for use by health workers are only guaranteed to block <a href="https://www.youtube.com/watch?v=eAdanPfQdCA">95% of the hardest-to-block particles</a> (and that’s only if you wear it right).
    </p>

    <p>
      So masks don't guarantee safety, they reduce risk, similar to how an umbrella reduces your odds of getting wet in the rain.
      And much like umbrellas, masks only work if you use them correctly.
    </p>

    <p>But unlike umbrellas, which only protect people carrying them, masks also protect people around the wearer, and this makes masks more effective than you might expect.</p>

    <h2>Why Masks Protect Us Twice</h2>

    <p>
      Let’s imagine that a contagious person wears a 50 percent effective mask.
      By '50 percent effective', I mean that wearing this mask reduces the odds that they'll infect a nearby susceptible person by 50%.
    </p>

  </div>

  <anim-with-caption :mask1="true" :mask2="false">Scenario 2: If the contagious person wears a 50% effective mask, virus transmission is reduced by 50%.</anim-with-caption>

  <div class="container">

    <p>What if the susceptible person wears the mask instead of the contagious person?</p>

    <p>
      In general, the effectiveness of a mask varies depending on whether you’re <b>inhaling</b> or <b>exhaling</b> through it.
      For now, let’s keep things simple and assume that this mask is equally effective in both directions.
    </p>

    <p>In that case, if the susceptible person wears this mask whenever they're near a contagious person, their odds of infection will also go down by 50%.</p>

  </div>

  <anim-with-caption :mask1="false" :mask2="true">Scenario 3: If the susceptible person wears a 50% effective mask, virus transmission is also reduced by 50%.</anim-with-caption>
  
  <div class="container">

    <p>What if both the contagious <i>and</i> the susceptible person wear a mask?</p> 

    <p>
      Well, the first mask filters the air the contagious person breathes <b>out</b>, which cuts the odds of infection in half.
      The second mask filters the air the susceptible person breathes <b>in</b>, which again cuts the odds of infection in half.
    </p>

    <p>
      So when <i>both</i> people are wearing masks the odds of infection are quartered (as compared to when neither of them wear masks).
      That's a 75% reduction in the risk of infection.
    </p>

  </div>

  <anim-with-caption :mask1="true" :mask2="true">Scenario 4: When both people wear 50% effective masks, virus transmission is reduced by 75%.</anim-with-caption>
  
  <div class="container">

    <p>
      If you think about, it's surprising that a 50% effective mask can potentially reduce the risk of infection by 75%.
      That's because when both people wear masks, the masks filter the mouth spray twice: once on the way out, and a second time on the way in.
      This <b>double protection</b> makes masks more effective than you might intuitively expect.
    </p>

    <p>So here are all four possible scenarios through which an airborne disease can spread from person to person.</p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row big-small">

        <div class="column onehundredpx">
          <div class="center">Type of Contact</div>
          <anim :mask1="false" :mask2="false" ></anim>
          <anim :mask1="true" :mask2="false"></anim>
          <anim :mask1="false" :mask2="true"></anim>
          <anim :mask1="true" :mask2="true"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Drop in Virus Transmission</div>
          <div class="center">0%</div>
          <div class="center">50%</div>
          <div class="center">50%</div>
          <div class="center">75%</div>
        </div>

      </div>

      <div class="caption">
        The four ways that COVID-19 can spread from person to person. The numbers here are calculated assuming a 50% effective mask.
      </div>

    </div>


  </div>
  <div class="container">

    <h2>From People to The Population</h2>

    <p>
      So far, we've been looking at virus transmission in the context of two people.
      How do we go from understanding person-to-person virus transmission to understanding virus transmission in the <i>entire population</i>?
    </p> 

    <p>Well, in the extreme limits, this is straightforward.</p> 

    <p>For example, if <b>nobody</b> wore a mask, we’d only have the first scenario to consider, and so virus transmission in the population would be unaffected.</p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row big-small-small">
        <div class="column onehundredpx">
          <div class="center">Type of Contact</div>
          <anim :mask1="false" :mask2="false" ></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Drop in Virus Transmission</div>
          <div class="center">0%</div>
        </div>

        <div class="column onehundredpx">
          <div class="center">Likelihood</div>
          <div class="center">100%</div>
        </div>
      </div>

      <div class="caption">
        If <b>nobody</b> wore a mask, virus transmission would be unaffected.
      </div>

    </div>
  </div>

  <div class="container">

    <p>Conversely, if <b>everybody</b> wore a 50% effective mask, we’d only have the last scenario to consider, and so virus transmission in the population would drop by 75 percent.</p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row big-small-small">
        <div class="column onehundredpx">
          <div class="center">Type of Contact</div>
          <anim :mask1="true" :mask2="true" ></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Drop in Virus Transmission</div>
          <div class="center">75%</div>
        </div>

        <div class="column onehundredpx">
          <div class="center">Likelihood</div>
          <div class="center">100%</div>
        </div>
      </div>

      <div class="caption">
        If <b>everybody</b> wore a 50% effective mask, virus transmission is reduced by 75%.
      </div>

    </div>
  </div>

  <div class="container">

    <p>
      In reality some people wear masks, and others don’t.
      This means that in general, the virus can spread through all four possible scenarios.
      Each scenario has a different likelihood and a different level of risk.
    </p>

    <p>
      When either 0% or 100% of people wear masks, it's straightforward to calculate the benefit that masks provide.
      The question is, how do we do calculate this in general?
    <p>

    <p>
      Let's try a simple case. Suppose that 50% of people wear masks.
      When two people meet at random, the odds that both people are wearing masks is the odds that the first person is wearing a mask multiplied by the odds that the second person is wearing a mask.
      So the odds that both people are wearing masks when in close contact is 50% times 50%, or 25%*.
    </p>

    <p>
      Similarly, you can work out the odds for the other scenarios.
      It turns out that when half the population wear masks, all four scenarios are equally likely.
      (Can you convince yourself why this has to be true?)
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row big-small-small">

        <div class="column onehundredpx">
          <div class="center">Type of Contact</div>
          <anim :mask1="false" :mask2="false" ></anim>
          <anim :mask1="true" :mask2="false"></anim>
          <anim :mask1="false" :mask2="true"></anim>
          <anim :mask1="true" :mask2="true"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Drop in Virus Transmission</div>
          <div class="center">0%</div>
          <div class="center">50%</div>
          <div class="center">50%</div>
          <div class="center">75%</div>
        </div>

        <div class="column onehundredpx">
          <div class="center">Likelihood</div>
          <div class="center">25%</div>
          <div class="center">25%</div>
          <div class="center">25%</div>
          <div class="center">25%</div>
        </div>

      </div>

      <div class="caption">
        The four ways that COVID-19 can spread from person to person, assuming that 50% of people wear a 50% effective mask.
      </div>

    </div>
  </div>
  
  <div class="container">

    <p>
      We can now finally calculate the average drop in virus transmission in the entire population.
      This involves averaging all four possible scenarios.
      Since we’ve set things up so that each scenario is equally likely, this is just the average of 0%, 50%, 50% and 75%, which is 43.75%.
    </p>

    <p>
      Meanwhile, people who don’t wear masks can only get infected via the first two scenarios shown above, which are equally likely when half the population is wearing a mask.
      So the drop in virus transmission to mask wearers is the average of 0% and 50%, which is 25%.
    </p>

    <p>
      Similarly, people who DO wear masks can only get infected via the last two scenarios shown above.
      So the drop in virus transmission to mask-wearers is the average of 50% and 75%, which is 62.5%.
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">
      <div class="column">
        <div class="splash">Drop in Virus Transmission for Entire Population = 43.75%</div>
        <div class="splash">Drop in Virus Transmission to Non-Mask Wearers = 25%</div>
        <div class="splash">Drop in Virus Transmission to Mask Wearers = 62.5%</div>
      </div>
      <div class="caption">
        (Assuming 50% of people wear a 50% effective mask.)
      </div>
    </div>
  </div>
  
  <div class="container">

    <p>
      This means that mask wearers get the largest benefit from mask wearing, as you might expect.
      But even non-mask wearers get a modest benefit.
      That’s because the air that they inhale is often filtered by <i>other people’s</i> partially effective masks (as you can see in the second scenario shown above.)
    </p>

    <p>The population as a whole, which is made up of both mask wearers and non-mask wearers, gets a benefit somewhere in between these two groups.</p>

    <p>So in this simplified example (where 50% of people wear 50% effective masks), we’ve worked out how to go from the <b>protection that a mask offers an <i>individual</i></b> to the <b>collective benefit that masks confer to a <i>society</i>.</b></p>

    <h2>A Mask Simulator</h2>

    <p>
      Let's apply the logic used above to <i>any values</i> of <b>mask wearership</b> and <b>mask effectiveness</b>.
      Vary the sliders below to see how these parameters influence the spread of disease.
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row half splash">
        <div>People Wearing Masks: {{convertToPercent(p)}}%</div>
        <slider v-model="p" :min="0" :max="1" :step="0.01"></slider>
      </div>

      <div class="row half splash">
        <div>Mask Effectiveness on Exhale: {{convertToPercent(Eout)}}%</div>
        <slider v-model="Eout" :min="0" :max="1" :step="0.01"></slider>
      </div>

      <div class="row half splash">
        <div>Mask Effectiveness on Inhale: {{convertToPercent(Ein)}}%</div>
        <slider v-model="Ein" :min="0" :max="1" :step="0.01"></slider>
      </div>

      <div class="row big-small-small">

        <div class="column onehundredpx">
          <div class="center">Type of Contact</div>
          <anim :mask1="false" :mask2="false" ></anim>
          <anim :mask1="true" :mask2="false"></anim>
          <anim :mask1="false" :mask2="true"></anim>
          <anim :mask1="true" :mask2="true"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Drop in Virus Transmission</div>
          <div class="center">{{convertToPercent(d1)}}%</div>
          <div class="center">{{convertToPercent(d2)}}%</div>
          <div class="center">{{convertToPercent(d3)}}%</div>
          <div class="center">{{convertToPercent(d4)}}%</div>
        </div>

        <div class="column onehundredpx">
          <div class="center">Likelihood</div>
          <div class="center">{{convertToPercent(l1)}}%</div>
          <div class="center">{{convertToPercent(l2)}}%</div>
          <div class="center">{{convertToPercent(l3)}}%</div>
          <div class="center">{{convertToPercent(l4)}}%</div>
        </div>

      </div>


      <div class="row half splash">
        <b>Drop in Virus Transmission for Entire Population: {{convertToPercent(1 - (1 - Ein * p) * (1 - Eout * p))}}%</b>
      </div>

      <div class="row half splash">
        Drop in Virus Transmission for Non-Mask Wearers: {{convertToPercent(Eout * p)}}%
      </div>

      <div class="row half splash">
        Drop in Virus Transmission for Mask Wearers: {{convertToPercent(1 - (1 - Eout * p) * (1 - Ein))}}%
      </div>

    </div>
  </div>
  
  <div class="container">
    <p>
      What happens to virus transmission if 50% of people wear a 50% effecitve mask?
      Or 60% wear a 60% effective mask?
      Or 70% wear a 70% effective mask?
      This interactive lets you answer these questions.
    </p>

    <p>
      However, it can be hard to see trends by looking at a table of numbers.
      So let's make a graph of how virus transmission reduces as more people wear masks.
    </p>

    <p>In the graph below, the <span class="blue">blue line</span> shows the protection that masks provide to people who wear them (lower = more protection), the <span class="red">red line</span> shows the second-hand protection that masks provide to people who don't wear them, and the <span class="purple">purple curve</span> shows the average protection to people in the population</p> 

    <p>You can vary the effectiveness of the masks, and see how the protection changes.</p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row half splash">
        <div>Mask Effectiveness on Exhale: {{convertToPercent(Eout)}}%</div>
        <slider v-model="Eout" :min="0" :max="1" :step="0.01"></slider>
      </div>

      <div class="row half splash">
        <div>Mask Effectiveness on Inhale: {{convertToPercent(Ein)}}%</div>
        <slider v-model="Ein" :min="0" :max="1" :step="0.01"></slider>
      </div>

      <graph :traces="graph1Traces" :layout="graph1Layout"></graph>

    </div>

  </div>

  <div class="container">

    <p>
      <b>The more people wear masks, the more masks help people.</b>
      As mask wearership increases, we move further down this graph, and the spread of disease reduces.
      Which means it's always in your best interest to try to convince as many people as possible to wear effective, well-fitting masks.
    </p>

    <p>
      By filtering exhaled air, masks protect both <span class="blue">mask-wearers</span> and <span class="red">non-mask wearers</span> alike.
      And by filtering inhaled air, mask offer an extra layer of protection to those who wear them (which is why the blue line is lower than the red one).
    </p>

    <p>In fact, masks are <i>even more effective</i> than this graph suggests.</p>

    <h2>How To Stop An Epidemic</h2>

    <p>
      You can extinguish a fire by starving it of oxygen. 
      But you don't need to remove all the oxygen, you just need to reduce it enough to stop the fire from spreading.
      It's the same with an epidemic — you don't need to cut virus transmission by 100%, you just need to reduce it enough to stop the disease from growing.
    </p>

    <p>
      You've probably heard of the epidemiology term R0, pronounced R-nought or R-zero.
      This is <a href="">the number of people that a contagious person can infect</a> in a population with no prior immunity to the disease.
    </p> 

    <p>When R0 is greater than 1, the disease will grow exponentially until we reach '<a href="https://en.wikipedia.org/wiki/Herd_immunity">herd immunity</a>', which happens when sufficiently many people either get vaccinated or get infected and develop immunity.</p>

    <p>
      But, as Ed Yong writes in the Atlantic, <a href="https://www.theatlantic.com/science/archive/2020/01/how-fast-and-far-will-new-coronavirus-spread/605632/">"R0 is not destiny"</a>.
      R0 is a product of two numbers: the average number of people that a contagious person encounters, and the chance of infection upon contact.
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">
      <div class="column">
        <div class="splash">R0 = average number of people that a contagious person encounters <br/>⨉ probability of infection upon contact </div>
      </div>
    </div>
  </div>
  
  <div class="container">

    <p>
      Quarantines, lockdowns, and social distancing reduce the first number.
      Wearing masks reduces the second number.
      The goal of all these strategies is to bring the epidemic under control by pulling R0 beneath 1.
    </p>

    <p>
      With this in mind, let's recreate the graph of the social benefit of masks, but this time expressed in terms of R0.
      You can use the slider to vary R0, which for COVID-19 is between 2 and 3 (in the absence of any additional public health measures).
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row half splash">
        <div>Mask Effectiveness on Exhale: {{convertToPercent(Eout)}}%</div>
        <slider v-model="Eout" :min="0" :max="1" :step="0.01"></slider>
      </div>

      <div class="row half splash">
        <div>Mask Effectiveness on Inhale: {{convertToPercent(Ein)}}%</div>
        <slider v-model="Ein" :min="0" :max="1" :step="0.01"></slider>
      </div>

      <div class="row half splash">
        <div>R0: {{R0}}</div>
        <slider v-model="R0" :min="1" :max="3" :step="0.01"></slider>
      </div>

      <graph :traces="graph2Traces" :layout="graph2Layout"></graph>

    </div>
  </div>

  <div class="container">

    <p>
      Can you work out how many people need to wear a 50% effective mask in order to stop the spread of COVID-19?
      What if the masks are 60% effective?
      Or 70% effective?
    </p>

    <p>
      This interactive lets us estimate how many people need to wear masks in order to end the epidemic.
      (In reality, because people tend to cluster together and not mix randomly, the numbers that this model predicts will be an underestimate.)
    </p>

    <p>We can take this one step further.</p>

    <h2>The Human Cost</h2>

    <p>
      We've seen that as more people wear masks, we effectively reduce R0.
      And when we reduce R0, we reduce the fraction of people who will eventually get infected.
      This is how masks save lives.
    </p>

    <p>
      This suggests that we can get a clearer picture of the human cost of wearing masks if, rather than visualizing R0, we instead visualize the fraction of the population who'll get infected under different mask-wearing scenarios.
    </p>

    <p>
      We can do this by using a simplified and widely-used mathematical model of epidemics known as an <a href="https://en.wikipedia.org/wiki/Compartmental_models_in_epidemiology">SIR model</a>.
      This model relates R0 to the fraction of people who will eventually be infected.
    </p>

    <p>
      Although this model makes many simplifying assumptions (such as random mixing between people and no lockdowns), it can offer us a ballpark estimate of the human cost of not wearing masks.
    </p>

    <p>Add Graph of infected fraction vs mask wearership</p>
  </div>


</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-observe-visibility@0.4.2"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
<script src="vue-definitions.js"></script>
<script type="text/javascript">javascript:(function(){var script=document.createElement('script');script.onload=function(){var stats=new Stats();stats.domElement.style.cssText='position:fixed;left:0;top:0;z-index:10000';document.body.appendChild(stats.domElement);requestAnimationFrame(function loop(){stats.update();requestAnimationFrame(loop)});};script.src='//rawgit.com/mrdoob/stats.js/master/build/stats.min.js';document.head.appendChild(script);})()
</script>
<!--<script src="sketch.js"></script>-->
</body>

</html>