<!DOCTYPE html>

<html lang="mk">

<head>

  <meta charset="utf-8">
  <title>Мултипликативната моќ на маските</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="An Explorable Essay on How Masks Can End COVID-19">
  <meta name="author" content="Aatish Bhatia">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&family=Raleway:wght@200;300;400;700&display=swap" rel="stylesheet"> 

  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Why Masks Work Better Than You Think: An Interactive Essay">
  <meta name="twitter:description" content="Дури и делумно ефикасните маски може да го спречат ширењето на COVID-19, доколку доволно луѓе ги носат.">
  <meta name="twitter:site" content="@aatishb">
  <!-- Twitter Summary card images must be at least 120x120px -->
  <meta name="twitter:image" content="https://aatishb.com/maskmath/assets/twitter-banner.png">
  
  <!-- Open Graph data -->
  <meta property="og:title" content="Зошто маските работат подобро отколку што си мислиме: интерактивен расказ" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://aatishb.com/maskmath/" />
  <meta property="og:image" content="https://aatishb.com/maskmath/assets/twitter-banner.png" />
  <meta property="og:description" content="Дури и делумно ефикасните маски може да го спречат ширењето на COVID-19, доколку доволно луѓе ги носат." />

</head>

<body>
<div id="root" class="page">

  <div class="header">
    <p5 src="js/sketch0.js"></p5>
    <div class="overlay">
      <div>
        <h1>Мултипликативната моќ на маските</h1>
        <h3>An Explorable Essay on How Masks Can End COVID-19</h3>
        <h4>by <a href="https://aatishb.com/">Aatish Bhatia</a> ⨉ <a href="https://www.youtube.com/user/minutephysics">Minute Physics</a></h4>
        <translation :list="translations"></translation>
      </div>
    </div>
  </div>

  <div class="container">

    <p>
      <a href="https://www.preprints.org/manuscript/202004.0203/v1">Веќе </a> <a href="https://link.springer.com/article/10.1007/s11606-020-06067-8">знаеме</a> <a href="https://science.sciencemag.org/content/368/6498/1422">дека</a> маските се огромна помош за забавувањето на ширењето на COVID-19.
      И покрај ова, некои луѓе се против носењето маски бидејќи сметаат дека тоа е прашање на личен избор, а не на општо здравје.
    </p>

    <p>
      Ова е субјективно гледиште затоа што <a href="https://link.springer.com/article/10.1007/s11606-020-06067-8">маските го штитат оној кој ги носи <i>но и</i> луѓето околу него</a>.
      Благодарение на оваа <a href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5ea3b5859bc8f31a11f3deb5/1587787141808/2020-04-24_N95DECON_Face_Mask_Technical_Report_v1_final.pdf">заштита во две насоки</a> широко распространето носење на маски е моќен начин да се стиши епидемијата.
    </p>

    <network :maskusage="0.6"></network>

    <p>
      Преку математички пресметки за маските, ќе видиме дека кога 60% од луѓето носат маски кои се 60% ефикасни, пренесувањето на болеста се намалува до 60% — отприлика толку е потребно за да се спречи ширењето на COVID-19.
    </p>      

    <aside>
      <div class="center">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Y47t9qLc9I4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <span style="margin-top: 0.75rem;">
          Погледнете го придружното видео: <a href="https://www.youtube.com/watch?v=Y47t9qLc9I4">Зошто маските работат ПОДОБРО отколку што си мислиме</a>
        </span>
      </div>
    </aside>

    <h2>Say it, Don't Spray It</h2>

    <p>
      Но прво, да разгледаме отприлика некои бројки.
      Кога издишуваме, <a href="https://www.youtube.com/watch?v=f57LXUbrtPU">сите прскаме микроскопси капки плунка</a> со различни големини.
      Доколку се капките заразни, тогаш овој 'спреј' е полн со вируси.
      Главниот начин на кој се шири COVID-19 е преку овој <a href="https://arxiv.org/pdf/2005.10988.pdf"> спреј од плунка полн со вируси</a>.
    </p>

    <p>Ако некој е заразен и дише, прска отприлика <b>илјада</b> вируси секоја минута.</p>

    <p>Ако зборува, прска отприлика <b>десет илјади</b> вируси секоја минута.</p>

    <p>Ако кашла, прска отприлика <b>сто илјади</b> вируси.</p>

    <p>А кога ќе кивне, прска дури <b>еден милион</b> вируси.</p>

    <p>
      Колку повеќе вируси се пренесуваат од една личност кон друга, толку е поголема шансата за пренесување на болеста.
      (А доколку се заразат, луѓето кои биле изложени на повеќе вируси вообичаено имаат <a href="https://www.nytimes.com/2020/05/29/health/coronavirus-transmission-dose.html">посериозни симптоми</a>.)
    </p>

  </div>

  <anim-with-caption :mask1="false" :mask2="false" contagiousperson="Заразна личност" susceptibleperson="Личност подложна на зараза"><span class="red">Прв начин на пренесување:</span> Кога заразна личност е близу друга личност, нејзиниот 'спреј' може да ја шири болеста.</anim-with-caption>

  <div class="container">

    <p>Маските ја намалуваат количината на спрејот што патува меѓу две личности, затоа што му го попречуваат или менуваат патот и така го намалуваат ризикот за заразување.</p>

    <p>
      Имајте на памет дека ниедна маска не е совршена.
      Дури и маските N95, кои се препорачани за здравствените работници, блокиррат само <a href="https://www.youtube.com/watch?v=eAdanPfQdCA">95% од најпреносливите честички</a> (и тоа само доколку <a href="https://www.n95decon.org/publications">ги носиме како што треба</a>).
    </p>

    <p>
      Маските не се гаранција за безбедност, тие само го намалуваат ризикот.
      Ова е исто како што носењето чадор кога врне кое не е гаранција дека нема да нè наврне, но сепак го намалува ризикот да бидеме мокри.
      Исто како и чадорите, и маските работат само доколку правилно ги користиме.
      Но за разлика од чадорите, кои ги штитат само луѓето што ги носат, маските исто така ги штитат и луѓето <i>околу</i> оние што ги носат.
    </p>

    <p>
    </p>

    <h2>Зошто маските се двократна заштита</h2>

    <p>
      Да замислиме личност која носи маска што е 50% ефикасна.
      Ова '50% ефикасна', подразбира дека носењто на таква маска ги намалува шансите за пренос на вирусот кон личност подложна на зараза во близина за пола.
    </p>

  </div>

  <anim-with-caption :mask1="true" :mask2="false" :eout="0.5" contagiousperson="Заразна личност" susceptibleperson="Личност подложна на зараза"><span class="orange">Втор начин на пренесување:</span> Кога заразна личност носи маска којашто е 50% ефикасна, пренесувањето на болеста се намалува за 50%.</anim-with-caption>

  <div class="container">

    <p>Но што се случува кога личноста подложна на зараза носи маска?</p>

    <p>
      Ефикасноста на маската главно зависи од тоа дали <b>вдишуваме</b> или <b>издишуваме</b> преку неа.
      Да почнеме со наједноставна претпоставка, дека маската функционира подеднакво добро во двете насоки.
    </p>

    <p>Во тој случај, шансите за пренос на болеста исто така се намалуваат за 50%.</p>

  </div>

  <anim-with-caption :mask1="false" :mask2="true" :ein="0.5" contagiousperson="Заразна личност" susceptibleperson="Личност подложна на зараза"><span class="orange">Трет начин на пренесување:</span> Кога личност подложна на зараза носи маска којашто е 50% ефикасна, пренесувањето на болеста се намалува за 50%.</anim-with-caption>
  
  <div class="container">

    <p>А што ако двете личности, заразната <i>и</i> подложната на зараза, носат маски?</p> 

    <p>
      Тогаш првата маска го намалува ризикот за пренос на болеста за половина, а втората маска повторно го намалува преостанатиот ризик за пренос за половина.
      Значи кога <i>двете</i> личности носат маски, ризикот за пренос на болеста е половина од половина, или 25% (во споредба со случајот кога никој не носи маска).
      Ова е намалување на ризикот за преност на болеста за 75%.
    </p>

  </div>

  <anim-with-caption :mask1="true" :mask2="true" :eout="0.5" :ein="0.5" contagiousperson="Заразна личност" susceptibleperson="Личност подложна на зараза"><span class="yellow">Четврти начин на пренесување:</span> Кога двете личности носат маски коишто се 50% ефикасни, пренесувањето на болеста се намалува за 75%.</anim-with-caption>
  
  <div class="container">

    <p>
      Ако се подзамислиме над ова, нели е изненадувачки дека маска којашто е 50% ефикасна, го намалува ризикот за пренос на блеста за 75%?
      Ова е така затоа што кога двете личности носат маски, ризикот за пренос на болеста е преполовен два пати.
      Поради оваа <b>двојна заштита</b> маските работат многу подобро отколку што интуитивно очекуваме.
    </p>

    <p>Еве ги четирите начини преку коишто болест што се шири низ воздухот може да се пренесе од една на друга личност.</p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row big-small">

        <div class="column onehundredpx">
          <div class="center">Начин на пренесување</div>
          <anim :mask1="false" :mask2="false"></anim>
          <anim :mask1="true" :mask2="false" :eout="0.5"></anim>
          <anim :mask1="false" :mask2="true" :ein="0.5"></anim>
          <anim :mask1="true" :mask2="true" :eout="0.5" :ein="0.5"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Намалување на ризикот за пренесување</div>
          <div class="center"><span class="red">0%</span></div>
          <div class="center"><span class="orange">50%</span></div>
          <div class="center"><span class="orange">50%</span></div>
          <div class="center"><span class="yellow">75%</span></div>
        </div>

      </div>

      <div class="caption">
        Четирите начини на коишто COVID-19 се шири од една кон друга личност, со претпоставка дека маските се 50% ефикасни.
      </div>

    </div>

  </div>

  <div class="container">

    <h2>Од поединечни луѓе до цела популација</h2>

    <p>
      Досега разгледувавме како се пренесува болеста помеѓу две личности.
      Како ова ни помага да го разбереме ширењето на болеста низ <i>целата популација</i>?
    </p> 

    <p>Во најекстремните случаи, ова е многу едноставно.</p> 

    <p>
      На пример, доколку <b>никој</b> не носи маска, тогаш веројатноста <span class="red">ниту една од двете личности што се среќаваат да не носи маска</span> е 100%.
    </p>

    <network :maskusage="0"></network>

    <p>
      Во овој случај, единствен начин на пренос на болеста е <span class="red">првиот</span> и брзината со која се шири болеста <span class="red">нема да се намали</span>.
    </p>

    <p>
      Другиот екстремен случај е кога <b>сите</b> носат маска, па кога две личности ќе се сретнат, веројатноста дека <span class="yellow">двете личности носат маска</span> е 100%.
    </p>

    <network :maskusage="1"></network>

    <p>
      Во овој случај, единствен начин за пренесување на болеста е <span class="yellow">четвртиот</span>.
      Ако претпоставиме дека маските се 50% ефикасни во двете насоки, пренесувањето на болеста низ целата популација <span class="yellow">ќе се намали за 75%</span>.
    </p>

    <p>
      Значи кога <i>сите</i> носат маска (или кога <i>никој</i> не носи), лесно е да се премета за колку ќе се намали пренесувањето на болеста, бидејќи таа се пренесува на само еден начин.
    </p>

    <p>
      Но во пракса, некои луѓе носат маски а некои не носат.
      Што значи дека вирусот се шири низ комбинација од сите четири начини на пренесување.
      Веројатноста на секој начин на пренос зависи од тоа колку луѓе носат маски.
    </p>

    <label class="row half bigsplash">
      <div>Процент на корисници на маски: <span class="dotted">{{convertToPercent(pnetwork)}}</span>%</div>
      <slider v-model="pnetwork" :min="0" :max="1" :step="0.01"></slider>
    </label>

    <network :maskusage="pnetwork"></network>

    <p>
      На пример, <b>доколку 50% од луѓето носат маски</b>, тогаш ако било кои две личности случајно се сретнат, веројатноста дека <span class="yellow">двете личности носат маска</span> е 50% ⋅ 50%, т.е. 25%.
      На сличен начин може да пресметаме која е веројатноста болеста да се пренесе на останатите три начини.
    </p>

    <p>
      Кога точно половина од популацијата носи маски, тогаш сите начини на пренос се подеднакво веројатни.
      (Сфаќаш зошто е ова така?)
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row big-small-small">

        <div class="column onehundredpx">
          <div class="center">Начин на пренесување</div>
          <anim :mask1="false" :mask2="false"></anim>
          <anim :mask1="true" :mask2="false" :eout="0.5"></anim>
          <anim :mask1="false" :mask2="true" :ein="0.5"></anim>
          <anim :mask1="true" :mask2="true" :eout="0.5" :ein="0.5"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Намалување на ризикот за пренесување</div>
          <div class="center"><span class="red">0%</span></div>
          <div class="center"><span class="orange">50%</span></div>
          <div class="center"><span class="orange">50%</span></div>
          <div class="center"><span class="yellow">75%</span></div>
        </div>

        <div class="column onehundredpx">
          <div class="center">Веројатност за пренесување на овој начин</div>
          <div class="center">25%</div>
          <div class="center">25%</div>
          <div class="center">25%</div>
          <div class="center">25%</div>
        </div>

      </div>

      <div class="caption">
        Четирите начини на коишто COVID-19 се шири од една кон друга личност, со претпоставка дека 50% од популацијата носи маски кои се 50% ефикасни.
      </div>

    </div>
  </div>
  
  <div class="container">

    <p>
      Сега може да го пресметаме <b>просечното намалување на пренесувањето на болеста во популацијата</b>.
      Бидејќи сите начини на пренесување се подеднакво веројатни, ова е средната вредност од <span class="red">0%</span>, <span class="orange">50%</span>, <span class="orange">50%</span> и <span class="yellow">75%</span>, или 43.75%.
    </p>

    <p>
      Луѓето кои <i>не носат</i> маски се заразуваат преку првите два начини, кои се подеднакво веројатни кога половина од популацијата носи маски.
      Така намалувањето на пренесувањето на болеста меѓу оние што не носат маски е средната вредност од <span class="red">0%</span> и <span class="orange">50%</span>, или 25%.
    </p>

    <p>
      Во исто време, луѓето кои <i>носат</i> маски се заразуваат преку последните два начини.
      Па намалувањето на пренесувањето на болеста меѓу оние што носат маски е средната вредност од <span class="orange">50%</span> и <span class="yellow">75%</span>, или 62.5%.
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">
      <div class="column">
        <div class="splash">Просечно намалување на пренесувањето на болеста = <span style="font-size: 2rem;"><b>43.75</b></span>%</div>
        <div class="splash">Намалување на пренесувањето на болеста помеѓу <b>луѓето што носат маски</b> = 25%</div>
        <div class="splash">Намалување на пренесувањето на болеста помеѓу <b>луѓето што не носат маски</b> = 62.5%</div>
      </div>
      <div class="caption">
        (Претпоставувајќи дека 50% од луѓето носат маски кои се 50% ефикасни.)
      </div>
    </div>
  </div>
  
  <div class="container">

    <p>
      Значи дури и луѓето што не носат маски имаат корист од маските, затоа што воздухот што го вдишуваат е делумно филтриран благодарение на <i>маските кои ги носат други луѓе</i>.
      Но луѓето кои носат маски имаат многу поголема корист, благодарение на додатната лична заштита што ја добиваат носејќи ги.
    </p>

    <p>Бидејќи во популацијата има и луѓе што носат и луѓе што не носат маски, просечната придобивка од носењето маски е некаде помеѓу придобивката на секоја од овие две групи.</p>

    <p>Во овој едноставен пример (кога 50% од луѓето носат маски кои се 50% ефикасни), научивме да го преметаме <b>просечниот придонес од носењето маски за цела <i>популација</i></b> од <b><i>индивидуалната</i> корист од носење маски</b>.

    <h2>Маскологија</h2>

    <p>
      Ајде <a href="https://github.com/aatishb/maskmath/blob/master/model/mathmodel.ipynb">да ја примениме оваа логика</a> за <i>било кој процент</i> на <b>луѓе што носат маски</b> и <b>ефикасност на маските</b>.
      Поместете ги копчињата за да видете како маските го спречуваат ширењето на болеста.
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <label class="row half bigsplash">
        <div>Корисници на маски: <span class="dotted">{{convertToPercent(p)}}</span>%</div>
        <slider v-model="p" :min="0" :max="1" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Ефикасност при издишување: <span class="dotted">{{convertToPercent(eout)}}</span>%</div>
        <slider v-model="eout" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Ефикасност при вдишување: <span class="dotted">{{convertToPercent(ein)}}</span>%</div>
        <slider v-model="ein" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <div class="row big-small-small padabove">

        <div class="column onehundredpx">
          <div class="center">Начин на пренесување</div>
          <anim :mask1="false" :mask2="false"></anim>
          <anim :mask1="true" :mask2="false" :eout="eout"></anim>
          <anim :mask1="false" :mask2="true" :ein="ein"></anim>
          <anim :mask1="true" :mask2="true" :eout="eout" :ein="ein"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Намалување на ризикот за пренесување</div>
          <div class="center"><span><span class="dotted">{{convertToPercent(d1)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(d2)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(d3)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(d4)}}</span>%</span></div>
        </div>

        <div class="column onehundredpx">
          <div class="center">Веројатност за пренесување на овој начин</div>
          <div class="center"><span><span class="dotted">{{convertToPercent(l1)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(l2)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(l3)}}</span>%</span></div>
          <div class="center"><span><span class="dotted">{{convertToPercent(l4)}}</span>%</span></div>
        </div>

      </div>


      <div class="row half bigsplash">
        <span>Просечно намалување на пренесувањето на болеста: <span class="dotted" style="font-size: 2rem;"><b>{{convertToPercent(1 - (1 - ein * p) * (1 - eout * p))}}</b></span>%</span>
      </div>

      <div class="row half bigsplash">
        <span>Намалување кај луѓето што не носат маски: <span class="dotted">{{convertToPercent(eout * p)}}</span>%</span>
      </div>

      <div class="row half bigsplash">
        <span>Намалување кај луѓето што носат маски: <span class="dotted">{{convertToPercent(1 - (1 - eout * p) * (1 - ein))}}</span>%</span>
      </div>

    </div>
  </div>
  
  <div class="container">

    <p>
      Што се случува со пренесувањето на болеста кога 60% од луѓето носат маки кои се 60% ефикасни?
      Или 90% носат маски кои се 50% ефикасни?
      Или 50% носат маски кои се 90% ефикасни?
      Овие прашања може да ги одговориш со интерактивната симулација погоре.
    </p>

    <p>Заклучок: <b>Колку повеќе луѓе носат маски, толку сме сите побезбедни.</b></p>

    <p>
      Кога го филтрираат воздухот при вдишување, маските директно ги штитат оние што ги носат.
      А кога го филтрираат воздухот при издишување, маските индиректно ги штитат <i>сите</i> — вклучувајќи ги и луѓето кои не носат маски.
    </p>

    <aside>
      <span @click="expandaside1 = true;">Што ако маските не го филтрираат воздухот при издишување? 
        <span v-if="!expandaside1"> (Кликнете овде)</span>
      </span>

      <span v-if="expandaside1">
        Некои N95 маски имаат <a href="https://www.healthline.com/health-news/certain-type-n95-mask-harm-covid19-spread">валва или отвор</a> преку кои воздухот излегува без да биде филтриран.
        Центарот за превенција и контрола на болести во САД, CDC, <a href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/respirator-use-faq.html">препорачува да не се носат</a> вакви маски во јавност, бидејќи ги изложуваат останатите луѓе на ризик.
        Овие може да го провериш со интерактивната симулација погоре.
        <br><br>
        Прво одбери висока вредност при вдишување и издишување (а вредност за корисници на маски некаде во средината).
        Ова ги претставува маските со голема ефикасност како N95.
        Сега почни да го поместуваш копчето за ефикасност при издишување кон нула, и набљудувај пренесувањето на болеста се зголемува, особено меѓу луѓето кои не носат маски.
        <br><br>
        Доколку имате некоја од овие маски, СDC препорачува <a href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/respirator-use-faq.html">да го покриете отворот</a> со хируршка маска.
      </span>
    </aside>


    <p>
      In fact, masks are even more effective than these numbers suggest.
    </p>

    <h2>How To Stop An Epidemic</h2>

    <p>
      You put out a fire by starving it of oxygen.
      But you don't need to get rid of all the oxygen, you only need to reduce it enough to stop the fire from growing.
      It's the same with an epidemic — you don't need to cut disease transmission by 100%. 
      If you lower it just enough to stop the disease from spreading, you can extinguish the epidemic.
    </p>

    <p>
      You've probably heard of the epidemiology term R0, pronounced R-nought or R-zero.
      This is <a href="https://en.wikipedia.org/wiki/Basic_reproduction_number">the number of people that a contagious person can infect</a> in a population with no prior immunity to the disease.
    </p> 

    <p>When R0 exceeds 1, the disease will grow exponentially until either enough people get vaccinated, or enough people get infected and develop immunity to the disease.</p>

    <p>
      But, as Ed Yong writes in the Atlantic, <a href="https://www.theatlantic.com/science/archive/2020/01/how-fast-and-far-will-new-coronavirus-spread/605632/">"R0 is not destiny"</a>.
      R0 is a product of two numbers: the average number of people that a contagious person encounters, and the chance of infection upon contact.
    </p>

  </div>

  <div class="graphic">
      <div class="splash">R0 = <span class="dashed">average number of people that a contagious person encounters</span> <br>⨉ <span class="dotted">chance of infection upon contact</span></div>
  </div>
  
  <div class="container">

    <p>
      Social distancing, quarantines, and lockdowns decrease <span class="dashed">the first number</span>.
      And masks decrease <span class="dotted">the second number</span>.
      The goal of all these public health strategies is to bring the epidemic under control by pulling R0 beneath 1.
    </p>

    <p>
      With this in mind, let's re-express the impact of masks in terms of R0.
      The graph below shows how R0 varies as mask-wearing increases.
    </p>

    <p>
      You can use the first slider to vary R0, which for COVID-19 is between 2 and 3 (that's in the absence of other public health measures such as social distancing, which further reduce R0.)
      By varying the effectiveness of the masks, you can see how masks can help bring an epidemic under control.
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <label class="row half bigsplash">
        <div>R0: <span class="dotted">{{R0}}</span></div>
        <slider v-model="R0" :min="1" :max="3" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Mask Effectiveness on Exhale: <span class="dotted">{{convertToPercent(eout)}}</span>%</div>
        <slider v-model="eout" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Mask Effectiveness on Inhale: <span class="dotted">{{convertToPercent(ein)}}</span>%</div>
        <slider v-model="ein" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <graph :traces="graph2Traces" :layout="graph2Layout(
        'How Masks Reduce R0',
        'Percentage of People Who Wear Masks',
        '# People a Contagious Person Infects (R0)',
        'Epidemic Under Control',
        'Epidemic Out Of Control'
      )" :config="config"></graph>

    </div>
  </div>

  <div class="container">

    <p>
      To stop the spread of COVID-19, we need to keep R0 beneath 1.
      When this happens, on average, a contagious person will infect less than one person, and the epidemic will grind to a halt.
    </p>

    <p>
      So how many people need to wear a 50% effective mask to stop the spread of COVID-19?
      What if masks were 75% effective?
      Or 90% effective?
      This interactive lets you predict answers to these questions.
    </p>

    <aside>

      <span @click="expandaside2 = true;">An important caveat: people don't usually mix randomly. 
        <span v-if="!expandaside2"> (Click to expand)</span>
      </span>
      
      <span v-if="expandaside2">
        People who wear masks may be more likely to interact with other mask wearers, and less likely to interact with people who don't wear masks.
        <br/><br/>
        Similarly, non-mask wearers might live in clusters where mask usage is lower than average.
        This tendency to interact with others who have similar preferences <a href="https://www.sciencedirect.com/science/article/pii/S2468042720300191">diminishes the protective power of masks</a> because <a href="https://github.com/aatishb/maskmath/blob/master/model/mathmodel.ipynb">non-mask wearers become less likely to benefit from nearby mask-wearers</a>.
        <br/><br/>
        As <a href="https://www.sciencedirect.com/science/article/pii/S2468042720300191">David Fisman, Amy Greer, and Ashleigh Tuite</a> write in their analysis, "the impact of masks and other face coverings in reducing COVID-19 transmission is likely to be greatest if attention is paid to ensuring availability for disadvantaged populations."
      </span>
    </aside>

    <h2>The Human Cost</h2>

    <p>
      We can take our understanding one step further by expressing the power of masks in more human terms.
      Masks save lives by reducing the chance of infection which, in turn, shrinks the extent of the epidemic.
    </p>

    <p>
      As more people wear masks, R0 decreases.
      And as R0 decreases, so does the number of infected people.
      So we can get a clearer picture if instead of visualizing R0, we visualize the <b>infected fraction</b> of the population.
    </p>

    <p>
      By using a widely-adopted mathematical model of epidemics known as an <a href="https://en.wikipedia.org/wiki/Compartmental_models_in_epidemiology">SIR model</a>, we can relate R0 to the fraction of people who will eventually be infected.
      (To learn more about SIR models, I recommend watching this <a href="https://www.youtube.com/watch?v=gxAaO2rsdIs">excellent video</a>.)
    </p>
    
    <p>Although this model is a considerable simplification (e.g. it assumes random mixing between people and no lockdowns), it offers us a ballpark estimate of the human cost of not wearing masks.</p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <label class="row half bigsplash">
        <div>R0: <span class="dotted">{{R0}}</span></div>
        <slider v-model="R0" :min="1" :max="3" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Mask Effectiveness on Exhale: <span class="dotted">{{convertToPercent(eout)}}</span>%</div>
        <slider v-model="eout" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash">
        <div>Mask Effectiveness on Inhale: <span class="dotted">{{convertToPercent(ein)}}</span>%</div>
        <slider v-model="ein" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <graph :traces="graph3Traces(
        '% Infected'
        )" :layout="graph3Layout(
        'How Masks Reduce Infections',
        'Percentage of People Who Wear Masks',
        'Percentage of People Who Will Be Infected'
      )" :config="config"></graph>

    </div>
  </div>

  <div class="container">

    <p>
      This hill-shaped curve shows us how masks influence the size of an epidemic.
      <b>As more people wear masks, the number of infections plummet.</b>
    </p>

    <p>
      When very few people wear masks, we're at the top of the hill, and most people will eventually get infected.
      But every step to the right moves us further down.
      So even partially effective masks, when partially adopted, can help reduce the spread of COVID-19.
    </p>

    <p>
      To completely stop the spread, we need to get to the bottom of this hill.
      But there's a silver lining: as more people wear masks, the hill grows steeper.
      Which means <b>masks provide greater returns to society as more people wear them</b>.
    </p>

    <p>
      If enough people wear masks, we can reach the bottom of the hill, where the chance of infection is zero.
      This is how masks can end an epidemic.
      But masks can only end an epidemic if enough people wear them.
    </p>

    <p>
      You might wonder how many people have to wear masks to end an epidemic.
      Well, that depends on how effective the masks are.
    </p>

    <p>
      By playing with interactive above, you'll see that if masks were 50% effective, we'd need roughly three-quarters of the population to wear them to stop the spread of COVID-19.
      But if masks were 75% effective, we'd only need half the population to wear them to stop the spread.
    </p>

    <p>
      <b>The more effective the mask, the faster we can descend the hill.</b>
      That's why it's important to wear a mask that <a href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5ea3b5859bc8f31a11f3deb5/1587787141808/2020-04-24_N95DECON_Face_Mask_Technical_Report_v1_final.pdf">tightly seals your mouth <i>and</i> nose</a>, and is made from an effective filtering material.
    </p>

    <p>
      We all want to get to the bottom of the hill and stop the spread of COVID-19.
      But you can't get there by yourself.
      Each person can only take a tiny step downwards.
    </p>

    <p>However, when many people take this small step, together, we take a giant leap down the hill.</p>

    <p>Together, we can get to the bottom of the hill.</p>
    
    <p>Together, we can hit the brakes on COVID-19.</p>

  </div>

  <div class="ending">
    <p5 src="js/sketch0.js"></p5>
  </div>

</div>

<div class="page footer">
  <div class="container">
    <h2>Credits & References</h2>

    <p>This essay was created by <a href="https://twitter.com/aatishb">Aatish Bhatia</a> in collaboration with <a href="https://twitter.com/minutephysics">Henry Reich</a>.</p>

    <p>Check out our <a href="https://www.youtube.com/watch?v=Y47t9qLc9I4">companion video</a> for a snappy visual take on the math of masks! The video was supported by the <a href="https://www.hsfoundation.org/">Heising-Simons Foundation</a>. Here's the <a href="https://aatishb.com/maskmath/calculator.html">mask math calculator</a> shown in the video.</p>

    <p>
      Many thanks to <a href="https://twitter.com/roy_upasana">Upasana Roy</a>, <a href="https://twitter.com/PrakashLab">Manu Prakash</a>, <a href="https://twitter.com/DFisman">David Fisman</a>, <a href="https://twitter.com/MonicaGandhi9">Monica Gandhi</a>, and <a href="https://this-vijay.github.io/">Vijay Ravikumar</a> for their helpful feedback on drafts of this essay.
    </p>

    <p>
      If you found this essay valuable and would like to see more work like this in future, you can <b><a href="https://www.patreon.com/aatishb">support my work on Patreon</a></b>.
    </p>

    <p>
      Here are <a href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5f2c4463a5c9f75a38d2b26f/1596736614213/N95DECON_cloth_mask_breathability_filtrationtechnical_report_v1_200804.pdf">some</a> <a href="https://www.maskfaq.com/test-results">informative</a> <a href="http://built-envi.com/what-kind-of-mask-should-i-be-wearing-to-protect-against-covid-19/">resources</a> on the filtering ability of common mask materials.
      While masks vary a lot in effectiveness depending on their material and fit, some materials can <a href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5f2c4463a5c9f75a38d2b26f/1596736614213/N95DECON_cloth_mask_breathability_filtrationtechnical_report_v1_200804.pdf">exceed</a> <a href="https://www.maskfaq.com/test-results">80%</a> filtering ability when used in a tightly-sealed mask.
    </p>

    <p>
      For the algebra enthusiasts among you (you know who you are), <a href="https://github.com/aatishb/maskmath/blob/master/model/mathmodel.ipynb">here's a writeup</a> covering the math in more detail.
      The graphs in this essay extend the work of <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/j.1539-6924.2010.01428.x">Brienen et al</a> to account for the bidirectional effectiveness of masks.
    </p>

    <p>
      The bidirectional model of masks underlying this essay was to my knowledge first published in a preprint by <a href="https://arxiv.org/ftp/arxiv/papers/2003/2003.07353.pdf">Tian et al</a> (Table S3 and Fig S4). 
      This was highlighted by Howard et al in their <a href="https://www.preprints.org/manuscript/202004.0203/v3">review article</a> and <a href="https://www.fast.ai/2020/04/13/masks-summary/">accompanying essay</a>, and further popularized by <a href="https://medium.com/the-atlantic/the-real-reason-to-wear-a-mask-e6405abbc484">Zeynep Tufekci, Jeremy Howard, Trisha Greenhalgh</a> in the Atlantic, and by <a href="https://www.newyorker.com/science/medical-dispatch/amid-the-coronavirus-crisis-a-regimen-for-reentry">Atul Gawande</a> in the New Yorker, who writes, <i>"The more effective the mask, the bigger the impact."</i>
    </p>

    <p>
      This text is published under a Creative Commons <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a> license. The source code is available <a href="https://github.com/aatishb/maskmath">on Github</a>. The emojis are created by <a href="https://twemoji.twitter.com/">Twitter</a> and were modified to include a custom mask design.
    </p>

    <p>
      Thanks for reading, and stay safe! 😷
    </p>

  </div>
</div>

<script src="libraries/plotly-basic.min.js"></script>
<script src="libraries/vue.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"></script>
<script src="libraries/vue-observe-visibility.js"></script>
<script src="libraries/p5.min.js"></script>
<script src="libraries/lambertw.js"></script>
<script src="js/vue-definitions.js"></script>
</body>

</html>
