<!DOCTYPE html>

<html lang="fa">

<head>

  <meta charset="utf-8">
  <title>قدرت تصاعدی ماسک</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="مقاله‌ای تعالمی درباره‌ی اینکه چگونه ماسک می‌تواند کرونا را ریشه‌کن کند">
  <meta name="author" content="Aatish Bhatia">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&family=Raleway:wght@200;300;400;700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="چرا ماسک از آنچه که فکر می‌کنید مؤثرتر عمل می‌کند: مقاله‌ای تعاملی">
  <meta name="twitter:description"
    content="حتی ماسک‌های نیمه‌مؤثر می‌توانند مانع از انتشار ویروس کرونا شوند، اگر تعداد افراد کافی از آن استفاده کنند.">
  <meta name="twitter:site" content="@aatishb">
  <!-- Twitter Summary card images must be at least 120x120px -->
  <meta name="twitter:image" content="https://aatishb.com/maskmath/assets/twitter-banner.png">

  <!-- Open Graph data -->
  <meta property="og:title" content="چرا ماسک از آنچه که فکر می‌کنید مؤثرتر عمل می‌کند: مقاله‌ای تعاملی" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://aatishb.com/maskmath/" />
  <meta property="og:image" content="https://aatishb.com/maskmath/assets/twitter-banner.png" />
  <meta property="og:description"
    content="حتی ماسک‌های نیمه‌مؤثر می‌توانند مانع از انتشار ویروس کرونای جدید شوند، اگر تعداد افراد کافی از آنها استفاده کنند." />


  <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v26.0.2/dist/font-face.css" rel="stylesheet"
    type="text/css" />

  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    .header,
    .graphic {
      font-family: 'Vazir', 'Open Sans', sans-serif;
    }
  </style>

</head>

<body>
  <div dir="rtl">
    <div id="root" class="page">

      <div class="header">
        <p5 src="js/sketch0.js"></p5>
        <div class="overlay">
          <div>
            <h1>قدرت تصاعدی ماسک</h1>
            <h3>چگونه ماسک می‌تواند کرونا را ریشه‌کن کند</h3>
            <h4>اثر <a href="https://aatishb.com/">Aatish Bhatia</a> ⨉ <a
                href="https://www.youtube.com/user/minutephysics">Minute Physics</a></h4>
            <translation :list="translations"></translation>
          </div>
        </div>
      </div>

      <div class="container">

        <p>
          <a href="https://www.preprints.org/manuscript/202004.0203/v1">می‌دانیم</a>
          <a href="https://link.springer.com/article/10.1007/s11606-020-06067-8">که</a> <a
            href="https://science.sciencemag.org/content/368/6498/1422">ماسک‌ها</a> تأثیر بسزایی در کاهش روند
          انتشار ویروس کرونای جدید دارند. با این وجود، بعضی از افراد از
          پوشیدن ماسک خودداری می‌کنند، به دلیل اینکه معتقدند این یک انتخاب شخصی و بی‌اهمیت است، نه یک قانون بهداشتی.
        </p>

        <p>
          چنین دیدگاهی این نکته‌ی مهم را در نظر نمی‌گیرد که ماسک
          <a href="https://link.springer.com/article/10.1007/s11606-020-06067-8">هم از فردی که آن را می‌پوشد در مقابل
            ابتلا محافظت
            می‌کند و هم از اطرافیانش</a>. این محافظت دوطرفه باعث می‌شود تا استفاده‌ی گسترده از ماسک روشی موثر برای کنترل
          یک همه‌گیری باشد.
        </p>

        <network :maskusage="0.6"></network>

        <p>
          با انجام محاسبات ریاضی، خواهیم فهمید که اگر ۶۰٪ افراد ماسک‌هایی بزنند که فقط ۶۰٪ کارایی دارند، انتقال بیماری
          هم ۶۰٪ کاهش پیدا خواهد کرد - این میزان کاهش تقریباً همان چیزی است که برای توقف انتقال ویروس کرونا لازم داریم.
        </p>

        <aside>
          <div class="center">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Y47t9qLc9I4" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <span style="margin-top: 0.75rem;">
              ویدئوی تکمیلی این مقاله را به زبان انگلیسی ببینید: <a
                href="https://www.youtube.com/watch?v=Y47t9qLc9I4">Why Masks Work BETTER
                Than You'd Think</a>
            </span>
          </div>
        </aside>

        <h2>حرف بزن اما ویروس را پخش نکن </h2>

        <p>
          پیش از هر چیز، چطور است درکی حدودی از ابعاد عددی این موضوع پیدا کنیم. هنگام بازدم
          <a href="https://www.youtube.com/watch?v=f57LXUbrtPU">قطرات بزاق به اندازه‌های مختلف به اطراف پخش</a>
          می‌شوند. اگر این قطرات، حاوی ویروس باشند، احتمال ابتلای اطرافیان وجود دارد.
          <a href="https://arxiv.org/pdf/2005.10988.pdf">پخش بزاق پر از
            ویروس</a> روش اصلی انتشار این ویروس است.
        </p>

        <p>وقتی که یک فرد ناقل نفس می‌کشد، در هر دقیقه حدود <b>هزار</b> ویروس را در هوا پخش می‌کند. </p>

        <p>وقتی که یک فرد ناقل راه می‌رود، در هر دقیقه حدود <b>ده هزار</b> ویروس را در هوا پخش می‌کند.</p>

        <p> وقتی که یک فرد ناقل سرفه می‌کند، در هر دقیقه حدود <b>صد هزار</b> ویروس را در هوا پخش می‌کند.</p>

        <p>وقتی که یک فرد ناقل عطسه می‌کند، در هر دقیقه حدود <b>یک میلیون</b> ویروس را پخش می‌کند.</p>

        <p>
          هرچه ویروس بیشتری از شخصی به شخص دیگر منتقل شود شانس ابتلا به بیماری بیشتر می‌شود. هم چنین، در افرادی که بیمار
          می‌شوند، کسانی که در معرض تعداد بیشتری از ویروس بوده‌اند
          <a href="https://www.nytimes.com/2020/05/29/health/coronavirus-transmission-dose.html">علائم شدیدتری</a>
          بروز می‌دهند.
        </p>

      </div>

      <anim-with-caption :mask1="false" :mask2="false" contagiousperson="شخص ناقل"
        susceptibleperson="شخص مستعد دریافت ویروس">
        <span>
          <span class="red">مسیر انتقال ۱: </span>
          وقتی یک شخص ناقل نزدیک یک شخص مستعد دریافت ویروس قرار بگیرد، «اسپری دهانی» می‌تواند بیماری را منتشر کند
        </span>
      </anim-with-caption>

      <div class="container">
        <p>
          ماسک می‌تواند میزان انتقال ویروس از طریق تنفسی را - با مسدود کردن مسیر یا تغییر جهت پخش قطرات بزاق - کم کند.
          در نتیجه می‌تواند شانس انتقال بیماری را کاهش دهد.
        </p>

        <p>
          لازم است بدانیم که هیچ ماسکی صد در صد محافظت نمیکند. حتی ماسک‌های N95 که برای استفاده‌ی کادر درمانی هستند، فقط
          می‌توانند جلوی انتقال
          <a href="https://www.youtube.com/watch?v=eAdanPfQdCA">۹۵٪ ذرات ریز</a>
          را بگیرند. (البته این کارایی بالا فقط در صورتی است که این ماسک‌ها
          <a href="https://www.n95decon.org/publications"> به درستی و مدت محدودی</a>
          استفاده شوند.)
        </p>

        <p>
          پوشیدن ماسک، مصونیت را تضمین نمی‌کند ولی خطر بیمار شدن را کاهش می‌دهد. همانطور که چتر تضمین نمی‌کند که زیر
          باران خشک بمانید، بلکه ریسک خیس شدن را کم می‌کند. مانند چتر، ماسک هم فقط زمانی مؤثر است که به درستی استفاده
          شود. ولی برخلاف چتر که فقط از فرد استفاده کننده محافظت می‌کند، ماسک از اطرافیان فرد استفاده کننده هم حفاظت
          می‌کند.
        </p>

        <p>
        </p>

        <h2>چرا محافظت ماسک دوسویه است؟ </h2>

        <p>
          فرض کنید که یک فرد ناقل و یک فرد سالم در محیطی با هم تماس دارند و فرد ناقل از ماسکی استفاده می‌کند که صد درصد
          موثر نیست و فقط ۵۰٪ کارایی دارد. منظور از «کارایی ۵۰٪» این است که استفاده از این ماسک شانس انتقال بیماری به
          فرد سالمی را که در نزدیکی فرد ناقل قرار دارد نصف می‌کند. در این شرایط خطر انتقال ویروس نصف میشود.
        </p>

      </div>

      <anim-with-caption :mask1="true" :mask2="false" :eout="0.5" contagiousperson="شخص ناقل"
      susceptibleperson="شخص مستعد دریافت ویروس">
        <span>
          <span class="orange">مسیر انتقال ۲: </span>
          وقتی فرد ناقل ماسکی با کارایی ۵۰٪ را استفاده کند، احتمال انتقال بیماری ۵۰٪ کاهش پیدا می‌کند
        </span>
      </anim-with-caption>

      <div class="container">

        <p>اما اگر به جای فرد ناقل، فرد سالم که در معرض خطر ابتلاست از ماسک استفاده کند چه؟ </p>

        <p>
          در واقع، میزان کارایی ماسک در فیلتر کردن ویروس در هر سمت ماسک متفاوت است. ماسک قدرت متفاوتی در فیلتر کردن هوای
          <b>دم</b> و یا <b>بازدم</b>
          دارد. برای اینکه موضوع ساده‌تر شود، فرض کنید که ماسک فرضی مورد نظر ما از هر دو طرف به یک اندازه
          مؤثر است.
        </p>

        <p>در این صورت، احتمال بیمار شدن فرد سالم از این مسیر هم ۵۰٪ است. </p>

      </div>

      <anim-with-caption :mask1="false" :mask2="true" :ein="0.5" contagiousperson="شخص ناقل"
      susceptibleperson="شخص مستعد دریافت ویروس">
        <span>
          <span class="orange">مسیر انتقال ۳: </span>
          وقتی که فرد سالم در مقابل فرد ناقل ماسکی استفاده می‌کند که ۵۰٪ مؤثر است، احتمال انتقال بیماری ۵۰٪ کاهش می‌یابد
        </span>
      </anim-with-caption>

      <div class="container">

        <p>اگر فرد ناقل و فرد سالم <i>هر دو</i> از ماسک استفاده کنند چه؟</p>

        <p>
          در این حالت، ماسک فرد ناقل خطر انتقال ویروس به محیط را نصف می‌کند، و ماسک فرد سالم هم خطر انتقال ویروس از محیط
          را نصف می‌کند. بنابراین، وقتی هر دو نفر از ماسک استفاده کنند، ریسک انتقال بیماری نصف از نصف می‌شود. (یا به
          عبارتی، ۲۵٪ زمانی که هیچ کدام از ماسک استفاده نمی‌کردند). این یعنی احتمال انتقال بیماری ۷۵٪ کاهش پیدا می‌کند.
        </p>

      </div>

      <anim-with-caption :mask1="true" :mask2="true" :eout="0.5" :ein="0.5" contagiousperson="شخص ناقل"
      susceptibleperson="شخص مستعد دریافت ویروس">

        <span>
          <span class="yellow">مسیر انتقال ۴: </span>وقتی هر دو نفر از ماسک با کارایی ۵۰٪ استفاده کنند، احتمال انتقال
          بیماری ۷۵٪ کاهش پیدا می‌کند
        </span>
      </anim-with-caption>

      <div class="container">

        <p>
          اینکه یک ماسک با کارایی ۵۰٪ می‌تواند ریسک انتقال بیماری را ۷۵٪ کاهش دهد عجیب به نظر می‌رسد. در واقع وقتی هر دو
          نفر از ماسک استفاده می‌کنند، شانس بیمار شدن دوبار نصف می‌شود. این خاصیت
          <b>محافظت کنندگی دوسویه‌ی ماسک</b>
          باعث می‌شود که ماسک‌ها از آنچه که به نظر می‌رسد مؤثرتر باشند.
        </p>

        <p>
          تصویر زیر هر چهار مسیر انتقال یک ویروس را در کنار هم نمایش می‌دهد.
        </p>

      </div>

      <div class="graphic">
        <div class="graphic-container">

          <div class="row big-small">

            <div class="column onehundredpx">
              <div class="center">مسیر انتقال بیماری</div>
              <anim :mask1="false" :mask2="false"></anim>
              <anim :mask1="true" :mask2="false" :eout="0.5"></anim>
              <anim :mask1="false" :mask2="true" :ein="0.5"></anim>
              <anim :mask1="true" :mask2="true" :eout="0.5" :ein="0.5"></anim>
            </div>

            <div class="column onehundredpx">
              <div class="center">میزان کاهش انتقال بیماری</div>
              <div class="center"><span class="red">0%</span></div>
              <div class="center"><span class="orange">50%</span></div>
              <div class="center"><span class="orange">50%</span></div>
              <div class="center"><span class="yellow">75%</span></div>
            </div>

          </div>

          <div class="caption">
            چهار مسیر مختلف انتقال ویروس کرونا از شخصی به شخص دیگر با فرض اینکه ماسک ۵۰٪ کارایی دارد
          </div>

        </div>

      </div>

      <div class="container">

        <h2> از ملاقات دو نفره تا زندگی در اجتماع </h2>

        <p>
          تا اینجا، فقط انتقال بیماری بین دو نفر را بررسی کردیم. ازاین یافته‌ها چگونه می‌توانیم در مدلسازی انتقال بیماری
          درون یک جامعه استفاده کنیم؟
        </p>

        <p>در شرایطی که رفتار همه افراد یکسان است، پاسخ به این سوال ساده است.</p>

        <p>
          به عنوان مثال، فرض کنید که
          <b>هیچ‌کس</b>
          از ماسک استفاده نمی‌کند، وقتی دو نفر با هم ملاقات کنند احتمال اینکه
          <span class="red">هیچ‌کدام ماسک نداشته باشند</span>
          ۱۰۰٪ است.
        </p>

        <network :maskusage="0"></network>

        <p>
          در چنین شرایطی کافی است فقط <span class="red">مسیر اول</span> انتقال ویروس را در نظر بگیریم. در نتیجه
          <span class="red">هیچ گونه کاهشی</span> در احتمال انتقال بیماری در جامعه نمی‌بینیم.
        </p>

        <p>
          از طرف دیگر، اگر
          <b>همه</b>
          افراد ماسک بزنند وقتی دو نفر با هم ملاقات می‌کنند احتمال اینکه
          <span class="yellow">هردو از ماسک استفاده کنند</span>
          ۱۰۰٪ است.
        </p>

        <network :maskusage="1"></network>

        <p>
          در چنین شرایطی کافی است فقط <span class="yellow">مسیر آخر</span>

          انتقال بیماری را در نظر بگیریم. با فرض اینکه ماسک از هر طرف ۵۰٪
          کارایی داشته باشد، شاهد <span class="yellow">کاهش ۷۵ درصدی</span> انتقال بیماری در جامعه خواهیم بود.
        </p>

        <p>
          بنابراین اگر همه ماسک بزنند (یا هیچکس ماسک نزند)، به سادگی می‌توان کاهش انتقال بیماری را در جامعه محاسبه کرد.
          به دلیل اینکه فقط یکی از مسیرهای ذکر شده در محاسبات دخیل خواهد بود.
        </p>

        <p>
          اما در واقعیت، بعضی‌ افراد ماسک می‌زنند و برخی نمی‌زنند. بنابراین همه‌ی چهار حالت انتقال ویروس باهم در جامعه
          اتفاق می‌افتد. اینکه احتمال هر مسیر چقدر است به این بستگی دارد که چند درصد از افراد جامعه ماسک می‌زنند.
        </p>

        <label class="row half bigsplash">
          <div>میزان استفاده از ماسک: <span class="dotted">{{convertToPercent(pnetwork)}}</span>%</div>
          <slider v-model="pnetwork" :min="0" :max="1" :step="0.01"></slider>
        </label>

        <network :maskusage="pnetwork"></network>

        <p>
          به عنوان مثال، <b>اگر ۵۰٪ مردم ماسک بزنند</b>،
          هرگاه دو نفر به‌طور تصادفی با هم ملاقات کنند، احتمال اینکه
          <span class="yellow">هردو ماسک زده باشند</span>
          ۵۰٪ × ۵۰٪ (برابر با ۲۵٪) خواهد بود. به همین صورت می‌توان احتمال سه مسیر دیگر انتقال بیماری را
          محاسبه کرد.
        </p>

        <p>
          وقتی که نصف افراد جامعه ماسک بزنند، احتمال رخ دادن همه‌ی چهار مسیر انتقال بیماری مساوی و برابر با ۲۵٪ خواهد
          بود. (آیا می‌توانید دلیل آن را برای خود توضیح دهید؟)
        </p>
      </div>

      <div class="graphic">
        <div class="graphic-container">

          <div class="row big-small-small">

            <div class="column onehundredpx">
              <div class="center">مسیر انتقال بیماری</div>
              <anim :mask1="false" :mask2="false"></anim>
              <anim :mask1="true" :mask2="false" :eout="0.5"></anim>
              <anim :mask1="false" :mask2="true" :ein="0.5"></anim>
              <anim :mask1="true" :mask2="true" :eout="0.5" :ein="0.5"></anim>
            </div>

            <div class="column onehundredpx">
              <div class="center">میزان کاهش در انتقال بیماری</div>
              <div class="center"><span class="red">0%</span></div>
              <div class="center"><span class="orange">50%</span></div>
              <div class="center"><span class="orange">50%</span></div>
              <div class="center"><span class="yellow">75%</span></div>
            </div>

            <div class="column onehundredpx">
              <div class="center">احتمال رخ دادن مسیر</div>
              <div class="center">25%</div>
              <div class="center">25%</div>
              <div class="center">25%</div>
              <div class="center">25%</div>
            </div>

          </div>

          <div class="caption">
            همه‌ی چهار مسیری که ویروس کرونا می‌تواند از شخصی به شخصی دیگر منتقل شود، با فرض اینکه ۵۰٪ افراد، ماسک با
            کارایی ۵۰٪ استفاده کنند.
          </div>

        </div>
      </div>

      <div class="container">

        <p>
          حال می‌توان <b>میانگین کاهش انتقال بیماری در جامعه</b> را محاسبه کرد. از آنجا که شرایط را به‌گونه‌ای فرض کردیم
          که
          همه‌ی مسیرها با احتمالی برابر رخ دهند، میانگین کاهش انتقال بیماری به‌سادگی از میانگین گرفتن از همه‌ی
          میانگین‌های بدست آمده در هر حالت یعنی
          <span class="red">۰٪</span>، <span class="orange">۵۰٪</span>، <span class="orange">۵۰٪</span> و
          <span class="yellow">۷۵٪</span>
          نتیجه می‌شود که برابر است با ۴۳٫۷۵٪.
        </p>

        <p>
          افرادی که ماسک <i>نمی‌زنند</i>، از طریق دو مسیر اول آلوده می‌شوند. این دو مسیر، در صورتی که نصف افراد جامعه
          ماسک
          بزنند، با احتمال برابر رخ خواهند داد. بنابراین کاهش انتقال بیماری برای افرادی که ماسک نمی‌زنند برابر خواهد بود
          با میانگین
          <span class="red">۰٪</span> و <span class="orange">۵۰٪</span>
          که عبارت است از ۲۵٪.
        </p>

        <p>
          از طرفی، افرادی که ماسک <i>می‌زنند</i> از طریق دو مسیر آخر آلوده می‌شوند. بنابراین کاهش انتقال بیماری برای
          افرادی که
          ماسک می‌زنند برابر با میانگین
          <span class="orange">۵۰٪</span> و
          <span class="yellow">۷۵٪</span>
          یا به عبارتی ۶۲٫۵٪ خواهد بود.
        </p>

      </div>

      <div class="graphic">
        <div class="graphic-container">
          <div class="column">
            <div class="splash">میانگین کاهش انتقال بیماری = <span style="font-size: 2rem;"><b>۴۳٫۷۵</b></span>٪</div>
            <div class="splash">کاهش انتقال بیماری در افرادی که <b>ماسک نمی‌زنند</b> = ۲۵٪</div>
            <div class="splash">کاهش انتقال بیماری در افرادی که <b>ماسک می‌زنند</b> = ۶۲٫۵٪</div>
          </div>
          <div class="caption">
            (با این فرض که ۵۰٪ افراد ماسک می‌زنند و کارایی ماسک ۵۰٪ است.)
          </div>
        </div>
      </div>

      <div class="container">

        <p>
          بنابراین حتی کسانی که ماسک نمی‌زنند امنیتشان تا حدی بالا می‌رود. به دلیل اینکه هوایی که تنفس می‌کنند اغلب توسط
          ماسک <i>دیگران</i> تصفیه شده است. اما افرادی که ماسک می‌زنند به دلیل محافظت اضافی که ماسکشان فراهم می‌کند،
          بسیار
          بیشتر امنیتشان بالا می‌رود.
        </p>

        <p>
          در نهایت، از آنجا که جامعه هم از افراد ماسک‌دار و هم از افراد بدون ماسک تشکیل شده، میانگین فایده‌ی استفاده از
          ماسک چیزی بین مقدار فایده‌ای است که این دو گروه از آن بهره‌مند می‌شوند.
        </p>

        <p>
          بنابراین در این مثال (که ۵۰٪ افراد ماسک می‌زنند و کارایی ماسک ۵۰٪ است) سعی کردیم از
          <i>
            فایده‌ای که ماسک برای <b>یک شخص</b> در ارتباطش با یک شخص دیگر دارد استفاده کنیم تا فایده‌ی ماسک را برای کل
            <b>جامعه</b>
            محاسبه کنیم.
          </i>
        </p>

        <h2>ماسک شناسی</h2>

        <p>
          حال ببینیم اگر <a href="https://github.com/aatishb/maskmath/blob/master/model/mathmodel.ipynb">همین
            محاسبات</a> را برای
          <i>شرایط مختلف</i>
          <b>کارایی</b> و <b>اثربخشی</b>
          انجام دهیم انتقال بیماری تا چه حد تغییر می‌کند. در تصویر زیر
          می‌توانید با حرکت دادن نقاط زرد رنگ روی محورهای بنفش، فرضیات مختلفی را شبیه‌سازی کنید. کارایی ماسک در فیلتر
          کردن هوای دم و بازدم و درصد افرادی که ماسک می‌پوشند را تغییر دهید تا ببینید استفاده از ماسک چگونه در انتشار
          بیماری تأثیر می‌گذارد.
        </p>

      </div>

      <div class="graphic">
        <div class="graphic-container">

          <label class="row half bigsplash">
            <div>میزان استفاده از ماسک: <span class="dotted">{{convertToPercent(p)}}</span>%</div>
            <slider v-model="p" :min="0" :max="1" :step="0.01"></slider>
          </label>

          <label class="row half bigsplash">
            <div>اثربخشی ماسک هنگام بازدم: <span class="dotted">{{convertToPercent(eout)}}</span>%</div>
            <slider v-model="eout" :min="0" :max="0.99" :step="0.01"></slider>
          </label>

          <label class="row half bigsplash">
            <div>اثربخشی ماسک هنگام دم: <span class="dotted">{{convertToPercent(ein)}}</span>%</div>
            <slider v-model="ein" :min="0" :max="0.99" :step="0.01"></slider>
          </label>

          <div class="row big-small-small padabove">

            <div class="column onehundredpx">
              <div class="center">مسیر انتقال بیماری</div>
              <anim :mask1="false" :mask2="false"></anim>
              <anim :mask1="true" :mask2="false" :eout="eout"></anim>
              <anim :mask1="false" :mask2="true" :ein="ein"></anim>
              <anim :mask1="true" :mask2="true" :eout="eout" :ein="ein"></anim>
            </div>

            <div class="column onehundredpx">
              <div class="center">میزان کاهش در انتقال بیماری</div>
              <div class="center"><span><span class="dotted">{{convertToPercent(d1)}}</span>%</span></div>
              <div class="center"><span><span class="dotted">{{convertToPercent(d2)}}</span>%</span></div>
              <div class="center"><span><span class="dotted">{{convertToPercent(d3)}}</span>%</span></div>
              <div class="center"><span><span class="dotted">{{convertToPercent(d4)}}</span>%</span></div>
            </div>

            <div class="column onehundredpx">
              <div class="center">احتمال رخ دادن مسیر</div>
              <div class="center"><span><span class="dotted">{{convertToPercent(l1)}}</span>%</span></div>
              <div class="center"><span><span class="dotted">{{convertToPercent(l2)}}</span>%</span></div>
              <div class="center"><span><span class="dotted">{{convertToPercent(l3)}}</span>%</span></div>
              <div class="center"><span><span class="dotted">{{convertToPercent(l4)}}</span>%</span></div>
            </div>

          </div>


          <div class="row half bigsplash">
            <span>میانگین کاهش انتقال بیماری: <span class="dotted"
                style="font-size: 2rem;"><b>{{convertToPercent(1 - (1 - ein * p) * (1 - eout * p))}}</b></span>%</span>
          </div>

          <div class="row half bigsplash">
            <span>کاهش انتقال بیماری در افرادی که <b>ماسک نمی‌زنند</b>: <span
                class="dotted">{{convertToPercent(eout * p)}}</span>%</span>
          </div>

          <div class="row half bigsplash">
            <span>کاهش انتقال بیماری در افرادی که <b>ماسک می‌زنند</b>: <span
                class="dotted">{{convertToPercent(1 - (1 - eout * p) * (1 - ein))}}</span>%</span>
          </div>

        </div>
      </div>

      <div class="container">

        <p>
          انتقال بیماری چه تغییری می‌کند اگر ۶۰٪ افراد ماسک بزنند و کارایی ماسک ۶۰٪ باشد؟ اگر ۹۰٪ افراد ماسک بزنند و
          کارایی ماسک ۵۰٪ باشد چه؟ اگر ۵۰٪ افراد ماسک بزنند و کارایی ماسک ۹۰٪ باشد چه؟ این گرافیک تعاملی به این سوالات
          جواب می‌دهد.
        </p>

        <p>
          نتیجه اینکه:
          <b>هرچه افراد بیشتری ماسک بزنند، جامعه مصونیت بیشتری دارد.</b>
        </p>

        <p>
          با فیلتر کردن هوای ورودی، ماسک می‌تواند مستقیم از افرادی که از آن استفاده می‌کنند محافظت کند. علاوه بر این، با
          فیلتر کردن یا تغییر جهت هوای خروجی، ماسک می‌تواند غیر مستقیم از همه‌ی افراد - حتی آنهایی که از ماسک استفاده
          نمی‌کنند - محافظت کند.
        </p>

        <aside>
          <span @click="expandaside1 = true;">پس ماسک‌هایی که هوای خروجی را فیلتر نمی‌کنند چه؟
            <span v-if="!expandaside1"> (برای باز شدن کلیک کنید)</span>
          </span>

          <span v-if="expandaside1">
            پس ماسک‌هایی که هوای خروجی را فیلتر نمی‌کنند چه؟ بعضی از ماسک‌های N95
            <a href="https://www.healthline.com/health-news/certain-type-n95-mask-harm-covid19-spread">مجراها یا
              دریچه‌هایی </a>
            دارند که هوا را بدون فیلتر کردن خارج می‌کنند. مؤسسه‌ی ملی کنترل بیماری های آمریکا (CDC) استفاده از این نوع
            ماسک‌ها را
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/respirator-use-faq.html">پیشنهاد نمی‌کند</a>، به دلیل
            اینکه پوشیدن این نوع ماسک‌ها توسط افراد ناقل، دیگران را در معرض ریسک بیماری قرار
            می‌دهد. این موضوع در تصویر تعاملی بالا قابل شبیه سازی است.

            <br><br>
            ابتدا کارایی دم و بازدم را مقداری بالا تنظیم کنید و میزان استفاده از ماسک را در وسط قرار دهید. این مقادیر
            نمایانگر یک ماسک بسیار اثربخش مانند N95 است. حال اثربخشی بازدم را به سمت صفر ببرید تا ببینید انتقال بیماری
            چگونه افزایش پیدا می‌کند. این افزایش در بین افرادی که ماسک نمی‌زنند مشهودتر است.
            <br><br>
            اگر از این نوع ماسک استفاده می‌کنید، می‌توانید طبق پیشنهاد CDC، <a
              href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/respirator-use-faq.html">مجرای خروجی هوا را با یک ماسک
              جراحی</a> بپوشانید.
          </span>
        </aside>


        <p>
          در واقع ماسک‌ها حتی از آنچه این اعداد محاسبه می‌کنند، مؤثرترند.
        </p>

        <h2>چگونه یک همه‌گیری را متوقف کنیم </h2>

        <p>
          برای خاموش کردن آتش کافی است جلوی رسیدن اکسیژن به آتش گرفته شود. ولی لازم نیست همه‌ی اکسیژن از آتش گرفته شود.
          فقط کافی است میزان اکسیژن را آنقدر کم کنید که جلوی پیشرفت آتش گرفته شود. با همین استراتژی می‌توان با همه‌گیری
          مقابله کرد - لازم نیست انتقال بیماری را ۱۰۰٪ متوقف کنید. کافی است میزان انتقال بیماری را آنقدر کم کنید که جلوی
          انتشار بیماری گرفته شود. در این صورت می‌توان همه‌گیری را متوقف کرد.
        </p>

        <p>
          احتمالاً راجع‌ به R0 (آر-صفر یا نرخ شیوع) در اپیدمیولوژی چیزهایی شنیده‌اید. R0 برابر است با
          <a href="https://en.wikipedia.org/wiki/Basic_reproduction_number">تعداد افرادی که می‌توانند توسط یک ناقل آلوده
            شوند</a>. البته در جامعه‌ای که مصونیت پیشین نسبت به آن بیماری وجود نداشته باشد.
        </p>

        <p>
          اگر مقدار R0 از ۱ بیشتر شود، بیماری به‌صورت تصاعدی شیوع پیدا می‌کند. شیوع تا وقتی ادامه پیدا می‌کند که یا به
          اندازه‌ی کافی افراد جامعه واکسینه شوند یا به اندازه‌ی کافی افراد به بیماری مبتلا و مصون شوند.
        </p>

        <p>
          اما
          <a
            href="https://www.theatlantic.com/science/archive/2020/01/how-fast-and-far-will-new-coronavirus-spread/605632/">R0
            قابل دستکاری است.</a>
          مقدار R0 از ضرب دو عدد حاصل می‌شود: ۱) میانگین تعداد افرادی که با یک فرد ناقل تماس
          پیدا می‌کنند و ۲) احتمال آلودگی بعد از برقراری تماس.
        </p>

      </div>

      <div class="graphic">
        <div class="splash">R0 = <span class="dashed">میانگین تعداد افرادی که با یک فرد ناقل تماس پیدا می‌کنند</span>
          <br>⨉
          <span class="dotted">احتمال آلودگی بعد از برقراری تماس</span></div>
      </div>

      <div class="container">

        <p>
          فاصله‌گذاری اجتماعی، قرنطینه و منع رفت و آمد مقدار <span class="dashed">عدد اول</span> را کم می‌کند و ماسک
          مقدار <span class="dotted">عدد دوم</span> را. هدف همه‌ی این
          استراتژی‌های بهداشتی این است که شیوع را از طریق پایین آوردن R0، کنترل کنند. به این صورت که R0 را به مقداری
          کمتر از یک تقلیل دهند.
        </p>

        <p>
          حالا می‌توانیم تاثیر استفاده از ماسک را بر R0 بررسی کنیم. نمودار زیر تغییر R0 را نسبت به درصد افرادی که از
          ماسک استفاده می‌کنند، نشان می‌دهد.
        </p>

        <p>
          با حرکت دادن نقاط زرد رنگ روی محورهای بنفش، میتوان این نمودار را برای مقادیر متفاوت R0 و کارایی ماسک ترسیم
          کرد. R0 برای ویروس کرونای جدید بین ۲ و ۳ است (این مقدار بدون احتساب اقدامات بهداشتی مانند فاصله‌گذاری اجتماعی
          است). با تغییر میزان کارایی ماسک، می‌توان دید که چگونه ماسک می‌تواند شیوع را کنترل کند.
        </p>

      </div>

      <div class="graphic">
        <div class="graphic-container">

          <label class="row half bigsplash">
            <div>R0: <span class="dotted">{{R0}}</span></div>
            <slider v-model="R0" :min="1" :max="3" :step="0.01"></slider>
          </label>

          <label class="row half bigsplash">
            <div>کارایی ماسک هنگام بازدم: <span class="dotted">{{convertToPercent(eout)}}</span>%</div>
            <slider v-model="eout" :min="0" :max="0.99" :step="0.01"></slider>
          </label>

          <label class="row half bigsplash">
            <div>کارایی ماسک هنگام دم: <span class="dotted">{{convertToPercent(ein)}}</span>%</div>
            <slider v-model="ein" :min="0" :max="0.99" :step="0.01"></slider>
          </label>

          <graph :traces="graph2Traces" :layout="graph2Layout(
        'را کاهش می‌دهد R0 چگونه ماسک مقدار',
        'درصد افرادی که ماسک می‌پوشند',
        'تعداد افرای که یک فرد ناقل آلوده می‌کند یا آر-صفر',
        'اپیدمی تحت کنترل است',
        'اپیدمی خارج از کنترل است'
      )" :config="config"></graph>

        </div>
      </div>

      <div class="container">

        <p>
          برای متوقف کردن انتشار ویروس کرونا، باید مقدار R0 را زیر ۱ نگه داریم. در این حالت، یک فرد ناقل به طور میانگین،
          کمتر از یک نفر را آلوده می‌کند و همه‌گیری متوقف خواهد شد.
        </p>

        <p>
          چند نفر از افراد جامعه باید ماسک با کارایی ۵۰٪ بزنند تا انتشار ویروس کرونا متوقف شود؟ اگر کارایی ماسک‌ها ۷۵٪
          باشد چه؟ با کارایی ۹۰٪ چه نتیجه‌ای حاصل می‌شود؟ این نمودار تعاملی این سوالات را پاسخ می‌دهد.
        </p>

        <aside>

          <span @click="expandaside2 = true;">یک نکته‌ی مهم: افراد جامعه معمولاً به‌صورت تصادفی با هم تماس ندارند.
            <span v-if="!expandaside2"> (برای باز شدن کلیک کنید)</span>
          </span>

          <span v-if="expandaside2">
            افرادی که از ماسک استفاده می‌کنند به احتمال زیاد بیشتر با افرادی تعامل دارند که از ماسک استفاده می‌کنند و
            احتمالاً با افرادی که ماسک نمی‌زنند ارتباطی ندارند.
            <br /><br />
            به همین شکل، افرادی که ماسک نمی‌زنند احتمالاً در گروه‌هایی زندگی می‌کنند که استفاده از ماسک در آنها کمتر از
            میانگین جامعه است. این تمایل برای ارتباط با افرادی که اولویت‌های یکسانی دارند
            <a href="https://www.sciencedirect.com/science/article/pii/S2468042720300191">
              قدرت محافظت ماسک‌ها را کم می‌کند.
            </a>
            زیرا در این صورت افرادی که ماسک نمی‌زنند

            <a href="https://github.com/aatishb/maskmath/blob/master/model/mathmodel.ipynb">
              کمتر از مزایای غیرمستقیم ماسک پوشیدن افراد دیگر بهره‌مند می‌شوند.
            </a>
            <br /><br />
            در
            <a href="https://www.sciencedirect.com/science/article/pii/S2468042720300191">یک مقاله‌ی تحلیلی</a>
            ذکر شده که «استفاده از ماسک و دیگر پوشاننده‌های صورت در بخش‌های آسیب‌پذیر جامعه احتمالاً بیشترین تأثیر را
            در کاهش انتقال ویروس کرونای جدید دارد».
          </span>
        </aside>

        <h2>هزینه‌ی انسانی </h2>

        <p>
          برای اینکه درک خود را از همه‌گیری یک گام جلوتر ببریم، می‌توانیم از آمار انسانی صحبت کنیم. پوشیدن ماسک، با کاهش
          احتمال انتقال، باعث کاهش شدت همه‌گیری می‌شود.
        </p>

        <p>
          هرچه افراد بیشتری ماسک بزنند R0 کاهش می‌یابد. و با کاهش R0 تعداد افراد آلوده نیز کاهش می‌یابد.
          بنابراین اگر به جای تجسم R0
          <b>بخش آلوده جمعیت </b>
          را تجسم کنیم‌، می‌توانیم تصویر واضح‌تری از شدت همه‌گیری داشته
          باشیم.
        </p>

        <p>
          با استفاده از یک مدل ریاضی رایج از اپیدمی‌ها که به عنوان
          <a href="https://en.wikipedia.org/wiki/Compartmental_models_in_epidemiology">SIR (مدل‌های بخش‌بندی در
            همه‌گیرشناسی)</a>
          شناخته می‌شود،
          می‌توان R0 را به آن بخش از جمعیت که در نهایت آلوده می‌شوند ارتباط داد. (برای کسب اطلاعات بیشتر در مورد SIR،
          توصیه می‌کنم این
          <a href="https://www.youtube.com/watch?v=gxAaO2rsdIs">فیلم عالی</a>
          را تماشا کنید.)
        </p>

        <p>
          اگرچه این مدل به طرز قابل توجهی ساده سازی شده است (به عنوان مثال این مدل بر اساس فرضیاتی همچون اختلاط تصادفی
          بین افراد جمعیت و نبودن قوانین منع رفت و آمد بنا شده است)، اما برآوردی حدودی از هزینه‌ی انسانی عدم استفاده از
          ماسک را تخمین می‌زند.
        </p>

      </div>

      <div class="graphic">
        <div class="graphic-container">

          <label class="row half bigsplash">
            <div>R0: <span class="dotted">{{R0}}</span></div>
            <slider v-model="R0" :min="1" :max="3" :step="0.01"></slider>
          </label>

          <label class="row half bigsplash">
            <div>کارایی ماسک هنگام بازدم: <span class="dotted">{{convertToPercent(eout)}}</span>%</div>
            <slider v-model="eout" :min="0" :max="0.99" :step="0.01"></slider>
          </label>

          <label class="row half bigsplash">
            <div>کارایی ماسک هنگام دم: <span class="dotted">{{convertToPercent(ein)}}</span>%</div>
            <slider v-model="ein" :min="0" :max="0.99" :step="0.01"></slider>
          </label>

          <graph :traces="graph3Traces(
        'درصد افراد آلوده'
        )" :layout="graph3Layout(
        'چگونه ماسک آلودگی را کم می‌کند',
        'درصد افرادی که ماسک می‌پوشند',
        'درصد افرادی که آلوده می‌شوند'
      )" :config="config"></graph>

        </div>
      </div>

      <div class="container">

        <p>
          این منحنی نزولی و محدب تأثیر ماسک را بر شدت یک همه‌گیری نشان می‌دهد.
          <b>هرچه تعداد بیشتری از افراد ماسک بزنند، تعداد مبتلایان جدید کاهش می‌یابد.</b>
        </p>

        <p>
          وقتی تعداد بسیار کمی از افراد ماسک بزنند، ما در بالای نمودار هستیم و در نهایت بیشتر افراد به این بیماری مبتلا
          می‌شوند. اما هر قدمی که به سمت راست برداریم، از قله‌ی نمودار دور می‌شویم. بنابراین حتی اگر بخشی از جمعیت
          ماسک‌هایی که فقط تا حدی موثر هستند، استفاده کنند، شیوع کرونای جدید کاهش می‌یابد.
        </p>

        <p>
          برای جلوگیری کامل از گسترش، باید به پایین این نمودار برسیم. اما نکته ظریفی در این بین وجود دارد: هرچه تعداد
          بیشتری از افراد جامعه ماسک بزنند، نمودار شیب بیشتری پیدا می‌کند. به عبارت دیگر
          <b>ماسک‌ها زمانی که افراد بیشتری از آنها استفاده می‌کنند، سود بیشتری به جامعه می‌دهند.</b>
        </p>

        <p>
          اگر تعداد کافی از افراد ماسک بزنند، ما می‌توانیم به پایین نمودار برسیم، جایی که احتمال انتقال صفر است و
          ماسک‌ها می‌توانند به همه‌گیری پایان دهند. اما ماسک‌ها، فقط وقتی می‌توانند به همه‌گیری پایان دهند که تعداد کافی
          از مردم از آنها استفاده کنند.
        </p>

        <p>
          چند نفر برای پایان دادن به یک همه‌گیری مجبور به ماسک زدن هستند؟ جواب این سوال بستگی به میزان مؤثر بودن ماسک‌ها
          دارد.
        </p>

        <p>
          با بازی با مدل‌های بالا خواهید دید که اگر ماسک، ریسک انتقال را ۵۰ درصد کاهش دهد، تقریباً باید سه چهارم مردم
          ماسک بپوشند. اما اگر ماسک ریسک انتقال را ۷۵ درصد کاهش دهد، فقط پوشیدن ماسک توسط نیمی از مردم کافی است.
        </p>

        <p>
          <b>هرچه ماسک کاراتر باشد، درصد کمتری از افراد می‌توانند یا پوشیدن ماسک همه‌گیری را کنترل کنند.</b>
          به همین دلیل مهم است از ماسکی استفاده کنید که
          <a
            href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5ea3b5859bc8f31a11f3deb5/1587787141808/2020-04-24_N95DECON_Face_Mask_Technical_Report_v1_final.pdf">
            کامل دور دهان <b>و</b> بینی شما را ببندد
          </a>
          و قدرت فیلتر کردن بالایی داشته باشد.
        </p>

        <p>
          همه ما می‌خواهیم به پایین شیب این نمودار برسیم و از گسترش ویروس جلوگیری کنیم. ولی انجام این کار به تنهایی
          امکان‌پذیر نیست. هر شخص فقط می‌تواند یک قدم کوچک به سمت پایین بردارد.
        </p>

        <p>اما وقتی تعداد زیادی از ما این قدم کوچک را برداریم، با هم به سمت پایین نمودار میرویم.</p>

        <p>با هم، میتوانیم نرخ شیوع را کم کنیم. </p>

        <p>با هم، میتوانیم ترمزویروس کرونای جدید را بکشیم.</p>

      </div>

      <div class="ending">
        <p5 src="js/sketch0.js"></p5>
      </div>

    </div>

    <div class="page footer">
      <div class="container">
        <h2>منابع و تشکر از دیگران</h2>

        <p>
          این مقاله توسط <a href="https://twitter.com/aatishb">آتیش بهاتا</a> با همکاری
          <a href="https://twitter.com/minutephysics">هنری رایش</a> نوشته شده.
        </p>

        <p>
          <a href="https://www.youtube.com/watch?v=Y47t9qLc9I4">ویدیوی ضمیمه‌ی</a>
          این مقاله را که توسط
          <a href="https://www.hsfoundation.org/">بنیاد هایسینگ-سایمونز</a>
          پشتیبانی شده اینجا ببینید. همینطور می‌توانید به
          <a href="https://aatishb.com/maskmath/calculator.html">ماشین حساب ماسک‌ها</a> که در ویدیو به آن اشاره شده،
          اینجا دسترسی پیدا کنید.
        <p>
          با تشکر فراوان از <a href="https://twitter.com/roy_upasana">اوپاسانا روی</a>، <a
            href="https://twitter.com/PrakashLab">مانو پراکاش</a>، <a href="https://twitter.com/DFisman">دیوید
            فیسمن</a>، <a href="https://twitter.com/MonicaGandhi9">مونیکا گاندی</a>، <a
            href="https://this-vijay.github.io/">ویجی راویکومار</a> برای بازبینی نسخه
          پیش‌نویس این مقاله.
        </p>

        <p>
          اگر این مقاله به نظرتان مفید بود و مایل به دیدن مقاله‌های دیگری از این دست در آینده هستید می‌تواند
          <b><a href="https://www.patreon.com/aatishb">از کار من در Patreon حمایت کنید.</a></b>
        </p>

        <p>
          برای اینکه در مورد قابلیت فیلتر کردن مواد مورد استفاده در ماسک‌های رایج بیشتر بدانید می‌توانید <a
            href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5f2c4463a5c9f75a38d2b26f/1596736614213/N95DECON_cloth_mask_breathability_filtrationtechnical_report_v1_200804.pdf">این</a>
          <a href="https://www.maskfaq.com/test-results">مقالات</a> <a
            href="http://built-envi.com/what-kind-of-mask-should-i-be-wearing-to-protect-against-covid-19/">آموزنده</a>
          را
          ببینید. با اینکه میزان کارایی ماسک‌ به جنس آنها و اندازه بودن آنها وابسته است، برخی از ماسک‌ها به شرطی که به
          درستی پوشیده شوند، می‌توانند تا <a
            href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5f2c4463a5c9f75a38d2b26f/1596736614213/N95DECON_cloth_mask_breathability_filtrationtechnical_report_v1_200804.pdf">بیش
            از</a>
          <a href="https://www.maskfaq.com/test-results">۸۰٪</a> ذرات حاوی ویروس‌ها را فیلتر کنند.
        </p>

        <p>
          اگر علاقمند به ریاضیات هستید می‌توانید <a
            href="https://github.com/aatishb/maskmath/blob/master/model/mathmodel.ipynb">یادداشت‌های</a> مرتبط با
          محاسبات ریاضی این مقاله را اینجا ببینید.

          نمودارهای این مقاله حاصل گسترش کار <a
            href="https://onlinelibrary.wiley.com/doi/full/10.1111/j.1539-6924.2010.01428.x">برینن و دیگران</a> در مورد
          اثربخشی دوسویه ماسک است.
        </p>

        <p>
          تا آنجا که من می‌دانم، مدل دوسویه ماسک که اساس این مقاله را تشکیل می‌دهد، برای اولین بار توسط
          <a href="https://arxiv.org/ftp/arxiv/papers/2003/2003.07353.pdf">تیان و دیگران</a>
          منتشر شد (جدول S3 و نمودار S4) که پس از آن توسط هوارد و دیگران در یک
          <a href="https://www.preprints.org/manuscript/202004.0203/v3">مقاله‌ی جمع‌بندی</a>
          مورد تأکید قرار گرفت و در نهایت توسط
          <a href="https://medium.com/the-atlantic/the-real-reason-to-wear-a-mask-e6405abbc484">زینپ توفکچی، جرمی هووارد
            و تریشا گرینهال</a>
          در ژورنال آتلانتیک و
          <a
            href="https://www.newyorker.com/science/medical-dispatch/amid-the-coronavirus-crisis-a-regimen-for-reentry">اتول
            گاوانده</a>
          در نیویورکر رواج داده شد. نیویورکر در این مورد عبارت «هر چه ماسک کاراتر باشد، تأثیر آن بیشتر می‌شود.» را نوشت.
        </p>

        <p>
          این متن بر اساس اعتبارنامه‌ی کریتیوکامنز
          <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>
          منتشر شده است.
          سورس کد مرتبط با این مقاله در
          <a href="https://github.com/aatishb/maskmath">گیت‌هاب</a>
          منتشر شده. شکلک‌ها توسط
          <a href="https://twemoji.twitter.com/">توییتر</a>
          طراحی شده‌اند و بعضی از آنها برای نمایش ماسک تغییر داده شده‌اند.
        </p>

        <p>
          ممنون از اینکه این مقاله را خواندید. مواظب خودتان باشید! 😷
        </p>

      </div>
    </div>
  </div>

  <script src="libraries/plotly-basic.min.js"></script>
  <script src="libraries/vue.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"></script>
  <script src="libraries/vue-observe-visibility.js"></script>
  <script src="libraries/p5.min.js"></script>
  <script src="libraries/lambertw.js"></script>
  <script src="js/vue-definitions.js"></script>
</body>

</html>
