<!DOCTYPE html>

<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="An Explorable Essay on How Masks Can End COVID-19">
<meta name="author" content="Aatish Bhatia">

<head>
  <title>How Masks Protect Us</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&family=Raleway:wght@200;300;400;700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
<div id="root" class="page">

  <div class="header">
    <p5 src="js/sketch0.js"></p5>
    <div class="overlay">
      <div>
        <h1>How Masks Protect Us</h1>
        <h3>An Explorable Essay on How Masks Can End COVID-19</h3>
        <h4>by <a href="https://aatishb.com/">Aatish Bhatia</a></h4>
        <h4>with support from <a href="https://www.youtube.com/user/minutephysics">Minute Physics</a></h4>
      </div>
    </div>
  </div>

  <div class="container">

    <p>
      We <a href="https://www.sciencedirect.com/science/article/pii/S0140673620311429">now know</a> that masks have an outsized effect on halting the spread of COVID-19.
      And yet, some people oppose wearing masks because they view this as a personal choice rather than a public health issue.
    </p>

    <p>
      This misses the big picture, because masks don't just protect the wearer, they also protect the people around them.
      Your decision to wear a mask impacts your society.
    </p>

    <p>In fact, we can <i>quantify</i> this impact.</p>

    <p>
      In this interactive essay, we’ll calculate the social benefit of wearing masks (or conversely, the social cost of not wearing masks).
      By doing the math on masks, we'll see how masks are a powerful way to extinguish an epidemic.
      For example, when 60% of people wear 60% effective masks, disease transmission will drop by 60% — roughly what's needed to stop the spread of COVID-19.
    </p>

    <h2>Say it, Don't Spray It</h2>

    <p>
      First, let’s get a ballpark sense for some numbers.
      When a person exhales, they <a href="https://www.youtube.com/watch?v=f57LXUbrtPU">spray out saliva particles</a> of various tiny sizes.
      If they're contagious, this 'mouth spray' is loaded with viral particles.
      This <a href="https://arxiv.org/pdf/2005.10988.pdf">virus-laden saliva spray</a> is the main way that COVID-19 spreads.
    </p>

    <p>When a contagious person breathes, they spray out roughly <b>a thousand</b> viral particles every minute.</p>

    <p>When they talk, they spray out roughly <b>ten thousand</b> viral particles every minute.</p>

    <p>When they cough, they spray out roughly <b>a hundred thousand</b> viral particles.</p>

    <p>And when they sneeze, they spray out roughly <b>a million</b> viral particles.</p>

    <p>
      The more viral particles travel from person to person, the higher the chance of infection.
      (And once infected, people who inhale more viral particles generally experience <a href="https://www.nytimes.com/2020/05/29/health/coronavirus-transmission-dose.html">more severe symptoms</a>.)
    </p>

  </div>

  <anim-with-caption :mask1="false" :mask2="false"><b>Transmission Route 1:</b> When a contagious person is near a susceptible person, their 'mouth spray' can spread disease.</anim-with-caption>

  <div class="container">

    <p>Masks reduce the amount of mouth spray traveling between people — either by blocking or by redirecting the spray — thereby reducing the chance of infection.</p>

    <p>
      It's worth keeping in mind that no mask is perfect.
      Even the N95 masks recommend for use by health workers are only guaranteed to block <a href="https://www.youtube.com/watch?v=eAdanPfQdCA">95% of the hardest-to-block particles</a> (and that’s only if you <a href="https://www.n95decon.org/publications">wear it right</a>).
    </p>

    <p>
      Masks don't guarantee safety, they reduce risk.
      This is similar to how an umbrella doesn't guarantee that you'll stay dry, but it does reduce your chance of getting wet.
      Like umbrellas, masks only work if you use them correctly.
      But unlike umbrellas, which only protect people who use them, masks also protect people <i>around</i> the wearer.
      Which makes masks more effective than you might expect.
    </p>

    <p>
    </p>

    <h2>Why Masks Protect Us Twice</h2>

    <p>
      Let’s imagine that a contagious person wears a 50 percent effective mask.
      By '50 percent effective', I mean that wearing this mask cuts in half the chance that they'll infect a nearby susceptible person.
    </p>

  </div>

  <anim-with-caption :mask1="true" :mask2="false" :eout="0.5"><b>Transmission Route 2:</b> When the contagious person wears a 50% effective mask, disease transmission drops by 50%.</anim-with-caption>

  <div class="container">

    <p>But what if the susceptible person wears the mask instead?</p>

    <p>
      In general, the effectiveness of a mask varies depending on whether you’re <b>inhaling</b> or <b>exhaling</b> through it.
      For now, let’s keep things simple and assume that this mask is equally effective in either direction.
    </p>

    <p>In that case, the chance of infection in this route also drops by 50%.</p>

  </div>

  <anim-with-caption :mask1="false" :mask2="true" :ein="0.5"><b>Transmission Route 3:</b> When the susceptible person wears a 50% effective mask, disease transmission drops by 50%.</anim-with-caption>
  
  <div class="container">

    <p>What if both the contagious <i>and</i> the susceptible person wear a mask?</p> 

    <p>
      Well, the first mask cuts the chance of infection in half, and the second mask once again cuts the chance of infection in half.
      So when <i>both</i> people wear masks, the chance of infection is half of half, i.e. 25% (as compared to when neither wear masks).
      That's a 75% drop in the chance of infection.
    </p>

  </div>

  <anim-with-caption :mask1="true" :mask2="true" :eout="0.5" :ein="0.5"><b>Transmission Route 4:</b> When both people wear 50% effective masks, disease transmission drops by 75%.</anim-with-caption>
  
  <div class="container">

    <p>
      If you think about it, it's surprising that a 50% effective mask can reduce the risk of infection by 75%.
      This is possible because when both people wear masks, the chance of infection is halved twice.
      This <b>double protection</b> makes masks much more effective than you might intuitively expect.
    </p>

    <aside>
      This might suggest that a simple way to achieve better protection is to wear more than one mask, or equivalently to wear a mask with many layers of filtration.
      The problem is, every time you add a layer, you <a href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5f2c4463a5c9f75a38d2b26f/1596736614213/N95DECON_cloth_mask_breathability_filtrationtechnical_report_v1_200804.pdf">decrease</a> the masks's <a href="https://www.maskfaq.com/test-results#data">breathability</a>, so you quickly get dimishing returns on the number of layers.
    </aside>

    <p>So here again are all four routes through which an airborne disease can spread from person to person.</p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row big-small">

        <div class="column onehundredpx">
          <div class="center">Disease Transmission Route</div>
          <anim :mask1="false" :mask2="false"></anim>
          <anim :mask1="true" :mask2="false" :eout="0.5"></anim>
          <anim :mask1="false" :mask2="true" :ein="0.5"></anim>
          <anim :mask1="true" :mask2="true" :eout="0.5" :ein="0.5"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Drop in Disease Transmission</div>
          <div class="center">0%</div>
          <div class="center">50%</div>
          <div class="center">50%</div>
          <div class="center">75%</div>
        </div>

      </div>

      <div class="caption">
        The four ways that COVID-19 can spread from person to person. These numbers are calculated assuming a 50% effective mask.
      </div>

    </div>


  </div>
  <div class="container">

    <h2>From People to The Population</h2>

    <p>
      So far, we've been looking at the transmission of disease in the context of two people.
      How do we go from understanding disease transmission between two people to understanding disease transmission in the <i>entire population</i>?
    </p> 

    <p>Well, in the extreme limits, this is straightforward.</p> 

    <p>For example, if <b>nobody</b> wore a mask, we’d only have to consider the first route, and disease transmission in the population would be unaffected.</p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row big-small-small">
        <div class="column onehundredpx">
          <div class="center">Disease Transmission Route</div>
          <anim :mask1="false" :mask2="false" ></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Drop in Disease Transmission</div>
          <div class="center">0%</div>
        </div>

        <div class="column onehundredpx">
          <div class="center">Likelihood of This Route</div>
          <div class="center">100%</div>
        </div>
      </div>

      <div class="caption">
        When no one wears a mask, disease transmission remains unaffected.
      </div>

    </div>
  </div>

  <div class="container">

    <p>
      At the other extreme, if <b>everyone</b> wore a mask, then whenever two people meet, they'd both be wearing masks.
      So we’d only have to consider the last route.
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row big-small-small">
        <div class="column onehundredpx">
          <div class="center">Disease Transmission Route</div>
          <anim :mask1="true" :mask2="true" :eout="0.5" :ein="0.5"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Drop in Disease Transmission</div>
          <div class="center">75%</div>
        </div>

        <div class="column onehundredpx">
          <div class="center">Likelihood of This Route</div>
          <div class="center">100%</div>
        </div>
      </div>

      <div class="caption">
        If everybody wore a 50% effective mask, disease transmission drops by 75%.
      </div>

    </div>
  </div>

  <div class="container">

    <p>
      In reality, some people wear masks and others don’t.
      Which means that the virus can spread through all four possible routes.
      Each route has a different likelihood and a different level of risk.
    </p>

    <p>
      When either 0% or 100% of people wear masks, we can calculate the benefit that masks provide.
      The question is, how do we do the math <i>in general</i>?
    <p>

    <p>Let's try a simple case. Suppose that 50% of people wear masks.</p>

    <p>
      When two people meet at random, the chance that both people are wearing masks is the chance that the first person is wearing a mask multiplied by the chance that the second person is wearing a mask.
      So the chance that both people are wearing masks is 50% ⨉ 50%, i.e. 25%.
    </p>

    <p>
      Similarly, you can work out the likelihood of the other three routes.
      It turns out that when half the population wears masks, each route is equally likely.
      (Can you convince yourself why this has to be true?)
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <div class="row big-small-small">

        <div class="column onehundredpx">
          <div class="center">Disease Transmission Route</div>
          <anim :mask1="false" :mask2="false"></anim>
          <anim :mask1="true" :mask2="false" :eout="0.5"></anim>
          <anim :mask1="false" :mask2="true" :ein="0.5"></anim>
          <anim :mask1="true" :mask2="true" :eout="0.5" :ein="0.5"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Drop in Disease Transmission</div>
          <div class="center">0%</div>
          <div class="center">50%</div>
          <div class="center">50%</div>
          <div class="center">75%</div>
        </div>

        <div class="column onehundredpx">
          <div class="center">Likelihood of This Route</div>
          <div class="center">25%</div>
          <div class="center">25%</div>
          <div class="center">25%</div>
          <div class="center">25%</div>
        </div>

      </div>

      <div class="caption">
        The four ways that COVID-19 can spread from person to person, assuming that 50% of people wear a 50% effective mask.
      </div>

    </div>
  </div>
  
  <div class="container">

    <p>
      We can now calculate the average drop in disease transmission in the entire population.
      This involves averaging all four possible routes.
      Since we’ve set things up so that each route is equally likely, this is just the average of 0%, 50%, 50% and 75%, which is 43.75%.
    </p>



    <p>
      So the drop in disease transmission to mask-wearers is the average of 0% and 50%, which is 25%.
    </p>

    <p>
      Meanwhile, people who <i>do</i> wear masks get infected via the last two routes.
      So the drop in disease transmission to mask-wearers is the average of 50% and 75%, which is 62.5%.
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">
      <div class="column">
        <div class="splash">Average Drop in Disease Transmission = 43.75%</div>
        <div class="splash">Drop in Disease Transmission to <b>Non-Mask Wearers</b> = 25%</div>
        <div class="splash">Drop in Disease Transmission to <b>Mask-Wearers</b> = 62.5%</div>
      </div>
      <div class="caption">
        (Assuming 50% of people wear a 50% effective mask.)
      </div>
    </div>
  </div>
  
  <div class="container">

    <p>
      Even non-mask wearers get a modest freeloading benefit, because the air they inhale is often filtered by <i>other people’s</i> masks.
      But mask-wearers benefit much more, thanks to the added protection their masks provide.
    </p>

    <p>And the population as a whole, which consists of both mask-wearers and non-mask wearers, ends up with a benefit somewhere in between these two groups.</p>

    <p>So in this simplified example where 50% of people wear 50% effective masks, we’ve worked out how to go from the <b>benefit that masks offer an <i>individual</i></b> to the <b>collective benefit that masks confer to <i>society</i>.</b></p>

    <h2>Maskology</h2>

    <p>
      Let's apply this logic to <i>any values</i> of <b>mask wearership</b> and <b>mask effectiveness</b>.
      Vary the sliders below to see how masks influence the spread of disease.
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <label class="row half splash">
        <div>People Wearing Masks: {{convertToPercent(p)}}%</div>
        <slider v-model="p" :min="0" :max="1" :step="0.01"></slider>
      </label>

      <label class="row half splash">
        <div>Mask Effectiveness on Exhale: {{convertToPercent(eout)}}%</div>
        <slider v-model="eout" :min="0" :max="1" :step="0.01"></slider>
      </label>

      <label class="row half splash">
        <div>Mask Effectiveness on Inhale: {{convertToPercent(ein)}}%</div>
        <slider v-model="ein" :min="0" :max="1" :step="0.01"></slider>
      </label>

      <div class="row big-small-small">

        <div class="column onehundredpx">
          <div class="center">Disease Transmission Route</div>
          <anim :mask1="false" :mask2="false"></anim>
          <anim :mask1="true" :mask2="false" :eout="eout"></anim>
          <anim :mask1="false" :mask2="true" :ein="ein"></anim>
          <anim :mask1="true" :mask2="true" :eout="eout" :ein="ein"></anim>
        </div>

        <div class="column onehundredpx">
          <div class="center">Drop in Disease Transmission</div>
          <div class="center">{{convertToPercent(d1)}}%</div>
          <div class="center">{{convertToPercent(d2)}}%</div>
          <div class="center">{{convertToPercent(d3)}}%</div>
          <div class="center">{{convertToPercent(d4)}}%</div>
        </div>

        <div class="column onehundredpx">
          <div class="center">Likelihood of This Route</div>
          <div class="center">{{convertToPercent(l1)}}%</div>
          <div class="center">{{convertToPercent(l2)}}%</div>
          <div class="center">{{convertToPercent(l3)}}%</div>
          <div class="center">{{convertToPercent(l4)}}%</div>
        </div>

      </div>


      <div class="row half splash">
        <b>Average Drop in Disease Transmission: {{convertToPercent(1 - (1 - ein * p) * (1 - eout * p))}}%</b>
      </div>

      <div class="row half splash">
        Drop in Disease Transmission for Non-Mask Wearers: {{convertToPercent(eout * p)}}%
      </div>

      <div class="row half splash">
        Drop in Disease Transmission for Mask-Wearers: {{convertToPercent(1 - (1 - eout * p) * (1 - ein))}}%
      </div>

    </div>
  </div>
  
  <div class="container">

    <p>
      What happens to disease transmission if 50% of people wear a 50% effective mask?
      Or 60% wear a 60% effective mask?
      Or 70% wear a 70% effective mask?
      This interactive lets you answer these questions.
    </p>

    <p>The conclusion: <b>When more people wear masks, everyone is safer.</b></p>

    <p>
      By filtering inhaled air, masks provide first-hand protection to those who wear them.
      And by filtering exhaled air, masks provide second-hand protection to everyone — including to people who don't wear masks.
    </p>

    <p>
      In fact, masks are even more effective than these numbers suggest.
    </p>

    <h2>How To Stop An Epidemic</h2>

    <p>
      You put out a fire by starving it of oxygen.
      But you don't need to get rid of all the oxygen, you only need to reduce it enough to stop the fire from growing.
      It's the same with an epidemic — you don't need to cut disease transmission by 100%. 
      If you lower it just enough to stop the disease from spreading, you can extinguish the epidemic.
    </p>

    <p>
      You've probably heard of the epidemiology term R0, pronounced R-nought or R-zero.
      This is <a href="https://en.wikipedia.org/wiki/Basic_reproduction_number">the number of people that a contagious person can infect</a> in a population with no prior immunity to the disease.
    </p> 

    <p>When R0 is greater than 1, the disease will grow exponentially until either enough people get vaccinated, or enough people get infected and develop immunity to the disease.</p>

    <p>
      But, as Ed Yong writes in the Atlantic, <a href="https://www.theatlantic.com/science/archive/2020/01/how-fast-and-far-will-new-coronavirus-spread/605632/">"R0 is not destiny"</a>.
      R0 is a product of two numbers: the average number of people that a contagious person encounters, and the chance of infection upon contact.
    </p>

  </div>

  <div class="graphic">
      <div class="splash">R0 = average number of people that a contagious person encounters <br/>⨉ probability of infection upon contact</div>
  </div>
  
  <div class="container">

    <p>
      Social distancing, quarantines, and lockdowns decrease the first number.
      And masks decrease the second number.
      The goal of all these public health strategies is to bring the epidemic under control by pulling R0 beneath 1.
    </p>

    <p>
      With this in mind, let's re-express the impact of masks in terms of R0.
      The graph below shows how R0 varies as mask-wearing increases.
    </p>

    <p>
      You can use the first slider to vary R0, which for COVID-19 is between 2 and 3 (that's in the absence of other public health measures such as social distancing, which further reduce R0.)
      By varying the effectiveness of the masks, you can see how masks can help bring an epidemic under control.
    </p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <label class="row half splash">
        <div>R0: {{R0}}</div>
        <slider v-model="R0" :min="1" :max="3" :step="0.01"></slider>
      </label>

      <label class="row half splash">
        <div>Mask Effectiveness on Exhale: {{convertToPercent(eout)}}%</div>
        <slider v-model="eout" :min="0" :max="1" :step="0.01"></slider>
      </label>

      <label class="row half splash">
        <div>Mask Effectiveness on Inhale: {{convertToPercent(ein)}}%</div>
        <slider v-model="ein" :min="0" :max="1" :step="0.01"></slider>
      </label>

      <graph :traces="graph2Traces" :layout="graph2Layout" :config="config"></graph>

    </div>
  </div>

  <div class="container">

    <p>
      To stop the spread of COVID-19, we need to keep R0 beneath 1.
      When this happens, each contagious person will infect less than one person on average, and the epidemic will grind to a halt.
    </p>

    <p>
      So how many people need to wear a 50% effective mask to stop the spread of COVID-19?
      What if the masks were 60% effective?
      Or 70% effective?
      This interactive lets you predict answers to these questions.
    </p>

    <aside>
      An important caveat: people don't usually mix randomly.
      People who wear masks may prefer to interact with like-minded people, and may be less likely to interact with those who don't wear masks.
      <br/><br/>
      Similarly, non-mask wearers might live in clusters where mask wearership is lower than average.
      This tendency to cluster with others who have similar preferences <a href="https://www.sciencedirect.com/science/article/pii/S2468042720300191">diminishes the protective power of masks</a>, because non-mask wearers become less likely to receive the second-hand benefit from nearby mask-wearers.
      <br/><br/>
      As <a href="https://www.sciencedirect.com/science/article/pii/S2468042720300191">David Fisman, Amy Greer and Ashleigh Tuite</a> write in their analysis, "the impact of masks and other face coverings in reducing COVID-19 transmission is likely to be greatest if attention is paid to ensuring availability for disadvantaged populations."
    </aside>

    <h2>The Human Cost</h2>

    <p>
      We can take our understanding one step further, by expressing the power of masks in more human terms.
      Masks save lives by reducing the chance of infection which, in turn, shrinks the extent of the epidemic.
    </p>

    <p>
      As more people wear masks, R0 decreases.
      And as R0 decreases, so does the number of infected people.
      So we can get a clearer picture if instead of visualizing R0, we visualize the <b>infected fraction</b> of the population.
    </p>

    <p>
      By using a widely-used mathematical model of epidemics known as an <a href="https://en.wikipedia.org/wiki/Compartmental_models_in_epidemiology">SIR model</a>, we can relate R0 to the fraction of people who will eventually be infected.
      (To learn more about SIR models, I recommend watching this <a href="https://www.youtube.com/watch?v=gxAaO2rsdIs">excellent video</a>.)
    </p>
    
    <p>Although this model is a considerable simplification (e.g. it assumes random mixing between people and no lockdowns), it offers us a ballpark estimate of the human cost of not wearing masks.</p>

  </div>

  <div class="graphic">
    <div class="graphic-container">

      <label class="row half splash">
        <div>R0: {{R0}}</div>
        <slider v-model="R0" :min="1" :max="3" :step="0.01"></slider>
      </label>

      <label class="row half splash">
        <div>Mask Effectiveness on Exhale: {{convertToPercent(eout)}}%</div>
        <slider v-model="eout" :min="0" :max="1" :step="0.01"></slider>
      </label>

      <label class="row half splash">
        <div>Mask Effectiveness on Inhale: {{convertToPercent(ein)}}%</div>
        <slider v-model="ein" :min="0" :max="1" :step="0.01"></slider>
      </label>

      <graph :traces="graph3Traces" :layout="graph3Layout" :config="config"></graph>

    </div>
  </div>

  <div class="container">

    <p>
      This hill-shaped curve shows us how masks influence the size of an epidemic.
      <b>As more people wear masks, the number of infections plummet.</b>
    </p>

    <p>
      When very few people wear masks, we're at the top of the hill, and most people will eventually get infected.
      To end the spread of COVID-19, we need to get to the bottom of this hill.
    </p>

    <p>
      But there's a silver lining: as more people wear masks, the hill grows steeper.
      Every step to the right takes us further downwards.
      Which means <b>masks provide greater returns to society as more people wear them</b>.
    </p>

    <p>
      If enough people wear masks, we can reach the bottom of the hill, where the chance of infection is zero.
      This is how masks can end an epidemic.
      But masks can only end an epidemic if enough people wear them.
    </p>

    <p>
      You might wonder how many people have to wear masks to end an epidemic.
      Well, that depends on how effective the mask is.
    </p>

    <p>
      By playing with interactive above, you'll see that if masks were 100% effective, we'd need a little over a third of the population to wear them to stop the spread of COVID-19.
      But if masks were 50% effective, we'd need closer to three-quarters of the population to wear them to stop the spread.
    </p>

    <p>
      The more effective the mask, the faster we can descend the hill.
      That's why it's important to wear a well-fitting mask that <a href="https://www.youtube.com/watch?v=RXd7WVmZlK0">tightly seals your mouth <i>and</i> nose</a>, and is made from an effective filtering material.
    </p>

    <aside>
      Here are <a href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5f2c4463a5c9f75a38d2b26f/1596736614213/N95DECON_cloth_mask_breathability_filtrationtechnical_report_v1_200804.pdf">some</a> <a href="https://www.maskfaq.com/test-results">resources</a> on the filtration effectiveness of common mask materials, and <a href="https://www.n95decon.org">information</a> on how to properly use masks. While non-medical masks vary a lot in effectiveness depending on their material and fit, some materials <a href="https://static1.squarespace.com/static/5e8126f89327941b9453eeef/t/5f2c4463a5c9f75a38d2b26f/1596736614213/N95DECON_cloth_mask_breathability_filtrationtechnical_report_v1_200804.pdf">exceed</a> <a href="https://www.maskfaq.com/test-results">80%</a> filtration effectiveness when used in a well-fitting mask.
    </aside>

    <p>
      We all want to get to the bottom of the hill and stop the spread of COVID-19.
      But you can't get there by yourself.
      Each person can only take a tiny step downwards.
    </p>

    <p>However, when many people take this small step, together, we take a giant leap down the hill.</p>

    <p>Together, we can get to the bottom of the hill.</p>
    
    <p>Together, we can beat COVID-19.</p>

  </div>


</div>

<script src="libraries/plotly-basic.min.js"></script>
<script src="libraries/vue.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"></script>
<script src="libraries/vue-observe-visibility.js"></script>
<script src="libraries/p5.min.js"></script>
<script src="libraries/lambertw.js"></script>
<script src="js/vue-definitions.js"></script>
<!--
<script type="text/javascript">javascript:(function(){var script=document.createElement('script');script.onload=function(){var stats=new Stats();stats.domElement.style.cssText='position:fixed;left:0;top:0;z-index:10000';document.body.appendChild(stats.domElement);requestAnimationFrame(function loop(){stats.update();requestAnimationFrame(loop)});};script.src='https://rawgit.com/mrdoob/stats.js/master/build/stats.min.js';document.head.appendChild(script);})()
</script>
-->
</body>

</html>