<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <title>The Multiplicative Power of Masks</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Aatish Bhatia">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&family=Raleway:wght@200;300;400;700&display=swap" rel="stylesheet"> 

  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
<div id="root" class="center-on-page">

  <div class="graphic">
    <div class="graphic-container">

      <label class="row half bigsplash bigger">
        <div>Mask Usage: <b><span class="dotted">{{convertToPercent(p)}}</span>%</b></div>
        <slider v-model="p" :min="0" :max="1" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash bigger" style="padding-top: 1rem">
        <div>Mask Effectiveness: <b><span class="dotted">{{convertToPercent(e)}}</span>%</b></div>
        <slider v-model="e" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <div class="row half bigsplash bigger" style="padding-top: 1rem">
        Drop in Disease Transmission&nbsp;<b><span class="dotted">{{Math.round(100*(1 - (1 - e * p) * (1 - e * p)))}}</span>%</b>
        &nbsp;<span style="font-size: 2rem;"><i>(</span>&nbsp;<b> <span v-if="Math.round(100*(1 - (1 - e * p) * (1 - e * p))) > Math.round(100 * e * p)">></span><span v-else>=</span> <span class="dotted">{{Math.round(100 * e * p)}}</span>%</b>&nbsp;Intuitive Guess&nbsp;</i><span style="font-size: 2rem;">)</span>
      </div>

    </div>
  </div>

</div>

<script src="libraries/plotly-basic.min.js"></script>
<script src="libraries/vue.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"></script>
<script src="libraries/vue-observe-visibility.js"></script>
<script src="libraries/p5.min.js"></script>
<script src="libraries/lambertw.js"></script>
<script src="js/vue-definitions.js"></script>
</body>

</html>