<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <title>The Multiplicative Power of Masks</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Aatish Bhatia">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&family=Raleway:wght@200;300;400;700&display=swap" rel="stylesheet"> 

  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
<div id="root" style="  width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">

  <div class="graphic">
    <div class="graphic-container">

      <label class="row half bigsplash" style="font-size: 1.5rem">
        <div>Mask Usage: <b><span class="dotted">{{convertToPercent(p)}}</span>%</b></div>
        <slider v-model="p" :min="0" :max="1" :step="0.01"></slider>
      </label>

      <label class="row half bigsplash" style="font-size: 1.5rem; padding-top: 1rem;">
        <div>Mask Effectiveness: <b><span class="dotted">{{convertToPercent(e)}}</span>%</b></div>
        <slider v-model="e" :min="0" :max="0.99" :step="0.01"></slider>
      </label>

      <div class="row half bigsplash" style="font-size: 1.5rem; padding-top: 2rem; padding-bottom: 0.5rem">
        Drop in Disease Transmission:
      </div>

      <div class="row half bigsplash" style="font-size: 2rem; width: 500px;" >
        <div style="align-items: flex-start; flex-basis: 33%;">
          <b><span class="dotted">{{Math.round(100*(1 - (1 - e * p) * (1 - e * p)))}}</span>%</b>
        </div>
        <div style="align-items: flex-end; flex-basis: 33%;">
          (
          <span v-if="Math.round(100*(1 - (1 - e * p) * (1 - e * p))) > Math.round(100 * e * p)">></span>
          <span v-else>=</span>
          <b><span class="dotted">{{Math.round(100 * e * p)}}</span>%</b>
          )
        </div>
      </div>

      <div class="row half bigsplash" style="width: 500px;" >
        <div style="align-items: flex-start; flex-basis: 33%;">
          actual drop
        </div>
        <div style="align-items: flex-end; flex-basis: 33%;">
          intuitive guess
        </div>
      </div>

    </div>
  </div>

</div>

<script src="libraries/plotly-basic.min.js"></script>
<script src="libraries/vue.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"></script>
<script src="libraries/vue-observe-visibility.js"></script>
<script src="libraries/p5.min.js"></script>
<script src="libraries/lambertw.js"></script>
<script src="js/vue-definitions.js"></script>
</body>

</html>